node-red/.flows.json.backup
[{"id":"db648e3.d7e4a7","type":"tab","label":"Victron SOC","disabled":false,"info":"Victron Battery minmial SOC control"},{"id":"e2675ef4094d2c74","type":"tab","label":"EV Charging","disabled":false,"info":""},{"id":"708340297608217b","type":"tab","label":"EV Smart Charge","disabled":false,"info":""},{"id":"f3d754a73bc9c8dc","type":"tab","label":"VMC Ventilation","disabled":false,"info":""},{"id":"9071ff05.669d6","type":"tab","label":"Lamps","disabled":false,"info":"Subscribed to Z-Wave JS Log Messages...\n2021-07-06T16:56:02.326Z CNTRLR « [Node 010] received CentralScene notification {\n                                      \"nodeId\": 10,\n                                      \"ccId\": \"Central Scene\",\n                                      \"ccCommand\": \"0x03\",\n                                      \"payload\": \"0x028001\"\n                                  }\n2021-07-06T16:56:02.495Z CNTRLR « [Node 010] received CentralScene notification {\n                                      \"nodeId\": 10,\n                                      \"ccId\": \"Central Scene\",\n                                      \"ccCommand\": \"0x03\",\n                                      \"payload\": \"0x038302\"\n                                  }\n2021-07-06T16:56:04.835Z CNTRLR « [Node 010] received CentralScene notification {\n                                      \"nodeId\": 10,\n                                      \"ccId\": \"Central Scene\",\n                                      \"ccCommand\": \"0x03\",\n                                      \"payload\": \"0x048001\"\n                                  }"},{"id":"b4ea084f.1fcca","type":"tab","label":"Load discharge","disabled":false,"info":"Kontrolle von Relais Kxx (Waschküche/Sicherungskasten) für Herplatten."},{"id":"6a381c77.a7a254","type":"tab","label":"TEST","disabled":false,"info":""},{"id":"4a2519b5d3b09a53","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c48b410.e40854","type":"ui_group","name":"Timer 1","tab":"170691f8.d5f3ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"170691f8.d5f3ae","type":"ui_tab","name":"Zeitschaltuhr","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"930e36d9.15cb48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7f77248a.7eca24","type":"ui_group","name":"Timer 1","tab":"c884960e.f9c938","order":1,"disp":true,"width":"6","collapse":false},{"id":"c884960e.f9c938","type":"ui_tab","name":"Zeitschaltuhr","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"467d275d.a68208","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"info":"y|yes|true|on|home|open"},{"id":"10f4c357.f3da8d","type":"server","name":"Home Assistant","version":1,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"220817d0.2dbbe8","type":"server-state-changed","z":"6a381c77.a7a254","name":"Motion","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.snapshots_stale","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":50,"y":280,"wires":[["8ee5f546.7043d8"]]},{"id":"96adb102.e4aa7","type":"time-range-switch","z":"6a381c77.a7a254","name":"","startTime":"06:00","endTime":"20:00","startOffset":"","endOffset":"","x":730,"y":200,"wires":[["c864ac28.5559b"],[]]},{"id":"d9619db7.95dd5","type":"switch","z":"6a381c77.a7a254","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":340,"wires":[["4918c64d.a000d8"],["73c0af93.51203"]]},{"id":"c864ac28.5559b","type":"api-call-service","z":"6a381c77.a7a254","name":"Turn On","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_light","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":200,"wires":[[]]},{"id":"e0e9712e.87612","type":"template","z":"6a381c77.a7a254","name":"cancel","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"cancel","output":"str","x":630,"y":300,"wires":[["13b633ee.52643c"]],"inputLabels":["on"],"outputLabels":["stop"]},{"id":"4918c64d.a000d8","type":"api-current-state","z":"6a381c77.a7a254","name":"Light On?","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_instance_1_switch, ","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":540,"y":200,"wires":[["e0e9712e.87612"],["96adb102.e4aa7"]]},{"id":"687a5a68.d1a824","type":"comment","z":"6a381c77.a7a254","name":"Delay for turn off","info":"","x":640,"y":380,"wires":[]},{"id":"73c0af93.51203","type":"api-current-state","z":"6a381c77.a7a254","name":"Light On?","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_instance_1_switch","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":540,"y":340,"wires":[["13b633ee.52643c"],[]]},{"id":"13b633ee.52643c","type":"switch","z":"6a381c77.a7a254","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":340,"wires":[["4c15254b.8e449c"]]},{"id":"4c15254b.8e449c","type":"api-call-service","z":"6a381c77.a7a254","name":"Turn Off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_instance_1_switch","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":260,"wires":[["8ee5f546.7043d8"]]},{"id":"781c6dd9.c442b4","type":"comment","z":"6a381c77.a7a254","name":"Cancel if Motion is detected during turn off delay","info":"","x":560,"y":140,"wires":[]},{"id":"8ee5f546.7043d8","type":"delay","z":"6a381c77.a7a254","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":250,"y":220,"wires":[["d9619db7.95dd5"]]},{"id":"1ae3eece.a2cfe9","type":"switch","z":"6a381c77.a7a254","name":"Switch","property":"OSautomation","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":480,"wires":[["cc9530e7.c39c4"],["899877b4.2f095"]]},{"id":"6707f1e.71bd59","type":"server-state-changed","z":"6a381c77.a7a254","name":"O/S On","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.outside_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":460,"wires":[["8f913fd3.4d5ad"],[]]},{"id":"8f913fd3.4d5ad","type":"ha-wait-until","z":"6a381c77.a7a254","name":"O/S Off","server":"467d275d.a68208","version":0,"outputs":2,"entityId":"switch.outside_light","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"500","timeoutType":"num","timeoutUnits":"milliseconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":380,"y":460,"wires":[["1ae3eece.a2cfe9"],[]]},{"id":"fecc02c6.bc9f88","type":"debug","z":"6a381c77.a7a254","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":480,"wires":[]},{"id":"899877b4.2f095","type":"change","z":"6a381c77.a7a254","name":"OSautomation true","rules":[{"t":"set","p":"payload","pt":"msg","to":"OSautomation True","tot":"str"},{"t":"set","p":"OSautomation","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":500,"wires":[["fecc02c6.bc9f88"]]},{"id":"f738ff6e.1d944","type":"server-state-changed","z":"6a381c77.a7a254","name":"O/S Off","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.outside_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":520,"wires":[["889a5be8.1ee18"],[]]},{"id":"889a5be8.1ee18","type":"ha-wait-until","z":"6a381c77.a7a254","name":"O/S On","server":"467d275d.a68208","version":0,"outputs":2,"entityId":"switch.outside_light","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"500","timeoutType":"num","timeoutUnits":"milliseconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":380,"y":520,"wires":[["1ae3eece.a2cfe9"],[]]},{"id":"cc9530e7.c39c4","type":"change","z":"6a381c77.a7a254","name":"OSautomation false","rules":[{"t":"set","p":"payload","pt":"msg","to":"OSautomationn False","tot":"str"},{"t":"set","p":"OSautomation","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":440,"wires":[["fecc02c6.bc9f88"]]},{"id":"3ae7f404.a77ec4","type":"inject","z":"6a381c77.a7a254","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":500,"wires":[["1ae3eece.a2cfe9"]]},{"id":"e486f258.b6fd18","type":"poll-state","z":"db648e3.d7e4a7","name":"Battery SOC actual","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"6","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":90,"y":280,"wires":[[]]},{"id":"21bfd136.afa486","type":"BooleanLogicUltimate","z":"6a381c77.a7a254","name":"","filtertrue":"onlytrue","persist":false,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":2,"topic":"result","x":510,"y":680,"wires":[["272361fd.e12a6e"],[],[]]},{"id":"d11e53ea.237978","type":"inject","z":"6a381c77.a7a254","name":"Night true","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Dark","payload":"true","payloadType":"bool","x":320,"y":700,"wires":[["21bfd136.afa486","1b91c889.0888b7"]]},{"id":"d2ac69a1.e875a8","type":"inject","z":"6a381c77.a7a254","name":"Daylight false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Dark","payload":"false","payloadType":"bool","x":330,"y":660,"wires":[["21bfd136.afa486","1b91c889.0888b7"]]},{"id":"e8d9fb46.088f","type":"inject","z":"6a381c77.a7a254","name":"Motion detect true","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"Motion","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Motion","payload":"true","payloadType":"bool","x":290,"y":760,"wires":[["21bfd136.afa486","1b91c889.0888b7"]]},{"id":"272361fd.e12a6e","type":"debug","z":"6a381c77.a7a254","name":"2 logic true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":680,"wires":[]},{"id":"a05f6781.8e86e8","type":"inject","z":"6a381c77.a7a254","name":"Motion detect false","props":[{"p":"payload","v":"false","vt":"bool"},{"p":"topic","v":"Motion","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Motion","payload":"false","payloadType":"bool","x":290,"y":800,"wires":[["21bfd136.afa486","1b91c889.0888b7"]]},{"id":"79beac5a.59979c","type":"comment","z":"6a381c77.a7a254","name":"Motion sensor turns on lights, when it's dark. The light turns off itself at day","info":"","x":450,"y":620,"wires":[]},{"id":"1b91c889.0888b7","type":"BooleanLogicUltimate","z":"6a381c77.a7a254","name":"","filtertrue":"onlytrue","persist":false,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"onlyonetopic","inputCount":"2","topic":"result","x":530,"y":800,"wires":[["8d4cc415.4aac98"],[],[]]},{"id":"8d4cc415.4aac98","type":"debug","z":"6a381c77.a7a254","name":"4 logic true /false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":800,"wires":[]},{"id":"b7165fd9.153038","type":"server-state-changed","z":"9071ff05.669d6","name":"WC Light On > 30min ","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_wc_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":80,"wires":[["873b7d5a.e73ec"],[]]},{"id":"873b7d5a.e73ec","type":"api-call-service","z":"9071ff05.669d6","name":"switch_wc_light off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.double_switch_wc_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":80,"wires":[[]]},{"id":"b2ab4474.48e948","type":"comment","z":"9071ff05.669d6","name":"Shut off WC light after 30 min.","info":"","x":120,"y":40,"wires":[]},{"id":"5691b757.4904d","type":"api-current-state","z":"db648e3.d7e4a7","name":"Check mode = Weather & Night","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":290,"y":500,"wires":[["d98c10d4a666dcf7","188bfaabb92394c7"],[]]},{"id":"8ace42ed.9021b8","type":"comment","z":"db648e3.d7e4a7","name":"SOC control by Solcast Yield forecast","info":"","x":150,"y":20,"wires":[]},{"id":"8f3a97a9.779688","type":"poll-state","z":"db648e3.d7e4a7","name":"Battery min SOC actual","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"6","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.ess_minimum_soc_setpoint","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":300,"y":280,"wires":[[]]},{"id":"2ece8402.55027c","type":"api-current-state","z":"db648e3.d7e4a7","name":"Check mode = Weather","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather forecast","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"num"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":160,"wires":[["18344e63.15ff5a"],[]]},{"id":"c2df6623.6099b8","type":"server-state-changed","z":"b4ea084f.1fcca","name":"Load Discharge mode","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.load_discharge","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":100,"wires":[["b99c6295.ad649"]]},{"id":"32dc26ba.b27322","type":"api-call-service","z":"b4ea084f.1fcca","name":"Load Disc ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.binary_power_switch_cabinet_s2_load_discharge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":200,"wires":[[]]},{"id":"7edc6192.54c0b8","type":"api-call-service","z":"b4ea084f.1fcca","name":"Load Dis OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_cabinet_s2_load_discharge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":80,"wires":[[]]},{"id":"ec85885b.037908","type":"api-current-state","z":"b4ea084f.1fcca","name":"Disc State off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s2_load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":600,"y":120,"wires":[["32dc26ba.b27322"],[]]},{"id":"b99c6295.ad649","type":"switch","z":"b4ea084f.1fcca","name":"Switch mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"manual","vt":"str"},{"t":"eq","v":"victron","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":100,"wires":[["7edc6192.54c0b8"],["ec85885b.037908"],["ec85885b.037908"]]},{"id":"1e449ea2.f5b211","type":"api-current-state","z":"b4ea084f.1fcca","name":"Disc State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s2_load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":610,"y":200,"wires":[["7edc6192.54c0b8"],[]]},{"id":"d78ab1ec.f03c18","type":"server-state-changed","z":"b4ea084f.1fcca","name":"Multi Temperature alarm","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multi_temperature_alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":200,"wires":[["8b1e9d29.67b7d"],["e7ffe317.863068"]]},{"id":"458b20c8.b73738","type":"server-state-changed","z":"b4ea084f.1fcca","name":"Grid power > 7kW","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_grid_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"7000","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":260,"wires":[["8b1e9d29.67b7d"],["e7ffe317.863068"]]},{"id":"8b1e9d29.67b7d","type":"api-current-state","z":"b4ea084f.1fcca","name":"Check dis mode = Victron","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"victron","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":200,"wires":[["1e449ea2.f5b211"],[]]},{"id":"e7ffe317.863068","type":"api-current-state","z":"b4ea084f.1fcca","name":"Check dis mode = Victron","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"victron","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":260,"wires":[["ec85885b.037908"],[]]},{"id":"d5ebc98b.ac78d","type":"comment","z":"b4ea084f.1fcca","name":"Load discharge","info":"","x":80,"y":60,"wires":[]},{"id":"18344e63.15ff5a","type":"timecheck","z":"db648e3.d7e4a7","name":"","time":"21:30","x":570,"y":160,"wires":[["ac56bc3e.c0327"],[]]},{"id":"cb6cec69.22f288","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min. SOC 80% Night","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":80}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":420,"wires":[[]]},{"id":"4a2bbc00.808a9c","type":"comment","z":"db648e3.d7e4a7","name":"SOC control for Night Charge","info":"","x":120,"y":420,"wires":[]},{"id":"4a24d805.641018","type":"poll-state","z":"db648e3.d7e4a7","name":"Energy Production Tomorrow","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"hours","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.energy_production_tomorrow","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":120,"y":80,"wires":[["88a14afc.48e6c8"]]},{"id":"e725332d.77c8d8","type":"poll-state","z":"db648e3.d7e4a7","name":"Estimated Energy Production","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.energy_production_tomorrow","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":120,"y":460,"wires":[["5691b757.4904d"]]},{"id":"5dec18e7.b5f278","type":"inject","z":"db648e3.d7e4a7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":220,"wires":[["ac56bc3e.c0327","b76c3b3faae497d4"]]},{"id":"57db7454.fe351c","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC to var","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.victron_soc_etimated_value","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":60,"wires":[[]]},{"id":"88a14afc.48e6c8","type":"function","z":"db648e3.d7e4a7","name":"Check and convert to SOC","func":"// payload = estimated kwH solar gain\n// 8 kWh = max charge capacity (20-100%) / 100% = 10kWh \n// 20 kWh * 3.5 = 75 // 100-75 = 25 % SOC\n// 5 kWh * 3.5 = 17.5 // 100-17.5 = 82.5 % SOC\nvar newFloat = 100 - (msg.payload * 3.5);\nif (newFloat < 20) {\n    FloatVal = 20;}\nelse if (newFloat > 65) {\n    FloatVal = 65;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["a77406a07a34b036"]]},{"id":"c525fa11.b7dee8","type":"poll-state","z":"db648e3.d7e4a7","name":"soc estimated value ok","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"30","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"input_number.victron_soc_etimated_value","state_type":"num","halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"x":100,"y":160,"wires":[["2ece8402.55027c"],[]]},{"id":"ac56bc3e.c0327","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"victron_write_new_min_soc","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":160,"wires":[[]]},{"id":"5f9ebad9.6979a4","type":"server-state-changed","z":"4a2519b5d3b09a53","name":"Motion in Study","server":"10f4c357.f3da8d","version":3,"entityidfilter":"binary_sensor.motion_sensor_158d000121a8d5","entityidfiltertype":"substring","state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":220,"wires":[["9da0140c.3cce08"]]},{"id":"9da0140c.3cce08","type":"switch","z":"4a2519b5d3b09a53","name":"motion on/off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":220,"wires":[["ed8e6e0c.f4c4d","2923d082.5d4a"],["2923d082.5d4a"]]},{"id":"fd336c7c.e35f6","type":"api-call-service","z":"4a2519b5d3b09a53","name":"OFF","server":"10f4c357.f3da8d","version":3,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_rgb_34ce008fd378","data":"","mergecontext":"","outputProperties":[{"value":"","valueType":"data"}],"queue":"none","x":870,"y":320,"wires":[[]]},{"id":"ed8e6e0c.f4c4d","type":"api-current-state","z":"4a2519b5d3b09a53","name":"light on?","server":"10f4c357.f3da8d","version":2,"outputs":1,"halt_if":"on","halt_if_compare":"is","entity_id":"light.yeelight_rgb_34ce008fd378","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":500,"y":220,"wires":[["81344630.0f8c38"]]},{"id":"2923d082.5d4a","type":"stoptimer","z":"4a2519b5d3b09a53","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":500,"y":320,"wires":[["a64d7929.bd7498"],[]]},{"id":"a64d7929.bd7498","type":"api-current-state","z":"4a2519b5d3b09a53","name":"motion on?","server":"10f4c357.f3da8d","version":2,"outputs":1,"halt_if":"on","halt_if_compare":"is","entity_id":"binary_sensor.motion_sensor_158d000121a8d5","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":690,"y":320,"wires":[["fd336c7c.e35f6"]]},{"id":"6dd86785.802528","type":"api-call-service","z":"4a2519b5d3b09a53","name":"Night","server":"10f4c357.f3da8d","version":3,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_rgb_34ce008fd378","data":"{\"rgb_color\":[255,153,0],\"brightness\":2}","mergecontext":"","outputProperties":[{"value":"","valueType":"data"}],"queue":"none","x":1170,"y":180,"wires":[[]]},{"id":"ed583b9a.6e2e68","type":"api-call-service","z":"4a2519b5d3b09a53","name":"ON","server":"10f4c357.f3da8d","version":3,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_rgb_34ce008fd378","data":"{\"rgb_color\":[255,183,123],\"brightness\":204}","mergecontext":"","outputProperties":[{"value":"","valueType":"data"}],"queue":"none","x":1170,"y":260,"wires":[[]]},{"id":"701389e0.e520f8","type":"time-range-switch","z":"4a2519b5d3b09a53","name":"Night?","lat":"51.454992","lon":"0.000076","startTime":"20:00","endTime":"nightEnd","startOffset":"","endOffset":"","x":990,"y":220,"wires":[["6dd86785.802528"],["ed583b9a.6e2e68"]]},{"id":"fcbd5513.2a8e28","type":"switch","z":"4a2519b5d3b09a53","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"12","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":220,"wires":[["701389e0.e520f8"]]},{"id":"81344630.0f8c38","type":"api-current-state","z":"4a2519b5d3b09a53","name":"Dark?","server":"10f4c357.f3da8d","version":2,"outputs":1,"halt_if":"","halt_if_compare":"is","entity_id":"sensor.aeotec_zw100_multisensor_6_luminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":670,"y":220,"wires":[["fcbd5513.2a8e28"]]},{"id":"6b7cee7854fa2480","type":"switch","z":"f3d754a73bc9c8dc","name":"VMC mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"manual_1","vt":"str"},{"t":"eq","v":"manual_2","vt":"str"},{"t":"eq","v":"scheduled","vt":"str"},{"t":"eq","v":"scheduled & temp controlled","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":120,"wires":[["d9eb2616be17b86e","bca4a2040f75ba8f"],["edf4e5821fe4123b"],["edf4e5821fe4123b","1248551a3524a0c6"],["5a5eb812ca0c7f74"],["bca4a2040f75ba8f"]]},{"id":"c4d99582acfb55cb","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"VMC ventilation mode","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.vmc_ventilation_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":120,"wires":[["6b7cee7854fa2480"]]},{"id":"d9eb2616be17b86e","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S1 off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.double_relais_grenier_vmc_1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":80,"wires":[["16e61451fcfb1631"]]},{"id":"edf4e5821fe4123b","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S1 on","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.double_relais_grenier_vmc_1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":140,"wires":[["723e3c0f84409ccb"]]},{"id":"723e3c0f84409ccb","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan speed low","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.vmc_preset_mode","data":"{\"option\":\"low\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":120,"wires":[[]]},{"id":"16e61451fcfb1631","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan speed off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.vmc_preset_mode","data":"{\"option\":\"off\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":60,"wires":[[]]},{"id":"d8ad83057d1034c6","type":"inject","z":"f3d754a73bc9c8dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":40,"wires":[["d9eb2616be17b86e"]]},{"id":"87e63634ae7dc601","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan speed high","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.vmc_preset_mode","data":"{\"option\":\"high\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":200,"wires":[[]]},{"id":"1248551a3524a0c6","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S2 on","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.double_relais_grenier_vmc_2","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":200,"wires":[["87e63634ae7dc601"]]},{"id":"5a5eb812ca0c7f74","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"VMC scheduler high","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.vmc_ventilation_scheduled_high","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":480,"y":200,"wires":[["1248551a3524a0c6"],[]]},{"id":"f9b07b72a3fa38dd","type":"poll-state","z":"f3d754a73bc9c8dc","name":"Temp deviation  > set = off","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"6","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.vmc_temperature_deviation","state_type":"num","halt_if":"$entities('input_number.vmc_temperature_diff_out_inside_trigger').state","halt_if_type":"jsonata","halt_if_compare":"gt","outputs":2,"x":110,"y":600,"wires":[["7556828012665b4a"],[]]},{"id":"7556828012665b4a","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":600,"wires":[["4baaa806b73dabd9"],[]]},{"id":"e9466ad006c825db","type":"poll-state","z":"f3d754a73bc9c8dc","name":"Temp deviation  < set = on","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"12","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.vmc_temperature_deviation","state_type":"num","halt_if":"$entities('input_number.vmc_temperature_diff_out_inside_trigger').state","halt_if_type":"jsonata","halt_if_compare":"lt","outputs":2,"x":110,"y":660,"wires":[["2759b8701412646d"],[]]},{"id":"2759b8701412646d","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":660,"wires":[["de4a26d307995469"],[]]},{"id":"4baaa806b73dabd9","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"VMC On?","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.double_relais_grenier_vmc_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":580,"y":600,"wires":[["2a1e7bea7a486867"],[]]},{"id":"de4a26d307995469","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"VMC off?","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.double_relais_grenier_vmc_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":580,"y":660,"wires":[["b1d36d0b6be656d5"],[]]},{"id":"2a1e7bea7a486867","type":"delay","z":"f3d754a73bc9c8dc","name":"5 Min Delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":600,"wires":[["4dd6de5f5aa4bb56"]]},{"id":"b1d36d0b6be656d5","type":"time-range-switch","z":"f3d754a73bc9c8dc","name":"","lat":"43.184415","lon":"1.607415 ","startTime":"06:00","endTime":"22:30","startOffset":"","endOffset":"","x":760,"y":660,"wires":[["edf4e5821fe4123b"],[]]},{"id":"b5a53879a3d67153","type":"debug","z":"f3d754a73bc9c8dc","name":"loop","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":780,"wires":[]},{"id":"bca4a2040f75ba8f","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S2 off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.double_relais_grenier_vmc_2","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":260,"wires":[["723e3c0f84409ccb"]]},{"id":"a1f2c96fa54be94b","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC Light On > 4 sec ","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_wc_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"4","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":300,"wires":[["a6a6926470664458"],[]]},{"id":"3f0284159af8d595","type":"comment","z":"f3d754a73bc9c8dc","name":"Trigger VMC on WC light after 1 min. for 5 min.","info":"","x":180,"y":260,"wires":[]},{"id":"a6a6926470664458","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":300,"wires":[["edf4e5821fe4123b"],[]]},{"id":"42d7774eff79d3ad","type":"comment","z":"f3d754a73bc9c8dc","name":"Control VMC on Temp diff out- inside","info":"","x":150,"y":560,"wires":[]},{"id":"cabf3abcadc87be8","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC Light Off > 5min ","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_wc_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":360,"wires":[["1f447f93d724b557"],[]]},{"id":"1f447f93d724b557","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":360,"wires":[["d9eb2616be17b86e"],[]]},{"id":"a565f74f77365084","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC VMC On","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_corr_vmc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":460,"wires":[["ebd2f6a8aec45233"],[]]},{"id":"3824cd1dbb213032","type":"comment","z":"f3d754a73bc9c8dc","name":"Trigger VMC S2 on WC light click bottom","info":"","x":160,"y":420,"wires":[]},{"id":"ebd2f6a8aec45233","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":460,"wires":[["1248551a3524a0c6"],[]]},{"id":"746048285af9a275","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC VMC Off","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_corr_vmc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":500,"wires":[["65b75bd1bdee04c6"],[]]},{"id":"65b75bd1bdee04c6","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":500,"wires":[["bca4a2040f75ba8f"],[]]},{"id":"4dd6de5f5aa4bb56","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check WC light Off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"switch.double_switch_wc_light","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":690,"y":420,"wires":[["d9eb2616be17b86e"],[]]},{"id":"c3803abfb1d466ca","type":"inject","z":"f3d754a73bc9c8dc","name":"incject every hrs.","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":920,"wires":[["903550e24abd1fd6"]]},{"id":"903550e24abd1fd6","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"Thermostat pantry set to 27C","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.thermostat_ventilation","data":"{\"temperature\":27.0}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":920,"wires":[[]]},{"id":"c2fd115ba3f78c2b","type":"comment","z":"f3d754a73bc9c8dc","name":"Trigger Setpoint temp Vent Pantry","info":"","x":140,"y":880,"wires":[]},{"id":"222d56d8d4b06ac2","type":"delay","z":"f3d754a73bc9c8dc","name":"5 Min Delay","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":730,"y":740,"wires":[["edf4e5821fe4123b"]]},{"id":"b76c3b3faae497d4","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{states{'input_number.victron_soc_etimated_value'}}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":240,"wires":[[]]},{"id":"ab0c4b993cbff222","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"victron_write_new_min_soc","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":600,"wires":[[]]},{"id":"eb785e1d3521aa6d","type":"api-current-state","z":"db648e3.d7e4a7","name":"soc estimated value ok","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":560,"y":600,"wires":[["ab0c4b993cbff222"],[]]},{"id":"7aeb0c2759cd7bef","type":"api-current-state","z":"db648e3.d7e4a7","name":"Check mode = Weather & Night","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":600,"wires":[["eb785e1d3521aa6d"],[]]},{"id":"41edc8ea09285e60","type":"inject","z":"db648e3.d7e4a7","name":"it is 06:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 06 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":600,"wires":[["7aeb0c2759cd7bef","e558801a80984365"]]},{"id":"159edbb3ba02e636","type":"looptimer","z":"f3d754a73bc9c8dc","duration":"1","units":"Hour","maxloops":"6","maxtimeout":"6","maxtimeoutunits":"Hour","name":"","x":530,"y":780,"wires":[["b5a53879a3d67153","222d56d8d4b06ac2","edf4e5821fe4123b"],[]]},{"id":"eb79821ffb6ebdc1","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.vmc_ventilation_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"scheduled, scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1060,"wires":[[],[]]},{"id":"7ddb591b94684987","type":"comment","z":"f3d754a73bc9c8dc","name":"Control VMC scheduled at night","info":"","x":130,"y":720,"wires":[]},{"id":"b99d17b7b104ee59","type":"inject","z":"f3d754a73bc9c8dc","name":"from 22:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":760,"wires":[["688d90be3b4f0379"]]},{"id":"688d90be3b4f0379","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled, scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":290,"y":760,"wires":[["159edbb3ba02e636"],[]]},{"id":"a77406a07a34b036","type":"time-range-switch","z":"db648e3.d7e4a7","name":"","lat":"43.184415","lon":"1.6","startTime":"12:30","endTime":"23:55","startOffset":0,"endOffset":0,"x":590,"y":80,"wires":[["57db7454.fe351c"],[]]},{"id":"eaf13cf15dfd5036","type":"switch","z":"db648e3.d7e4a7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0.0","vt":"num","v2":"5.0","v2t":"num"},{"t":"btwn","v":"5.1","vt":"num","v2":"9","v2t":"num"},{"t":"btwn","v":"9.1","vt":"num","v2":"15","v2t":"num"},{"t":"btwn","v":"15.1","vt":"num","v2":"99","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":570,"y":480,"wires":[["cb6cec69.22f288"],["18d61f4a429e2fee"],["39f2da8cef61febe"],["708579b1c5cdcb19"]]},{"id":"18d61f4a429e2fee","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min. SOC 70% Night","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":70}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":460,"wires":[[]]},{"id":"39f2da8cef61febe","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min. SOC 60% Night","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":60}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":520,"wires":[[]]},{"id":"9df9064580360418","type":"inject","z":"f3d754a73bc9c8dc","name":"to 06:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":80,"y":800,"wires":[["159edbb3ba02e636"]]},{"id":"d98c10d4a666dcf7","type":"debug","z":"db648e3.d7e4a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":540,"wires":[]},{"id":"b4c78226d323cea6","type":"inject","z":"db648e3.d7e4a7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":520,"wires":[["5691b757.4904d"]]},{"id":"708579b1c5cdcb19","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min. SOC 50% Night","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":50}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":560,"wires":[[]]},{"id":"188bfaabb92394c7","type":"time-range-switch","z":"db648e3.d7e4a7","name":"","lat":"43.184415","lon":"1.6","startTime":"23:30","endTime":"23:35","startOffset":0,"endOffset":0,"x":410,"y":460,"wires":[["eaf13cf15dfd5036"],[]]},{"id":"e558801a80984365","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write Charged EN yesterday","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"variable","service":"set_variable","entityId":"variable.ev_battery_plug_energy_yesterday","data":"{80}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":280,"y":660,"wires":[[]]},{"id":"5543b40c3804bb35","type":"inject","z":"708340297608217b","name":"at 6 am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":80,"y":440,"wires":[["c5a68b2869aebcb3","3b8e02f2c282fb76"]]},{"id":"c9b3c73e59e7c518","type":"poll-state","z":"708340297608217b","name":"EV Charger Energy","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.shelly_em_channel_1_energy","state_type":"num","halt_if":"","halt_if_type":"entity","halt_if_compare":"is","outputs":1,"x":90,"y":480,"wires":[[]]},{"id":"c5a68b2869aebcb3","type":"api-call-service","z":"708340297608217b","name":"Store Daily Energy Script","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"ev_charger_store_daily_energy_yesterday","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":440,"wires":[[]]},{"id":"d991cd33f312468a","type":"api-call-service","z":"708340297608217b","name":"Store Daily Energy Today","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"1633965939939","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":490,"wires":[[]]},{"id":"3b8e02f2c282fb76","type":"delay","z":"708340297608217b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":280,"y":480,"wires":[["d991cd33f312468a","2331cdd7b85ff473"]]},{"id":"21bf79487695bfdb","type":"comment","z":"708340297608217b","name":"Stop scheduled Charging by SOC estimation and setpoint.","info":"","x":430,"y":180,"wires":[]},{"id":"e0172c38bb3de575","type":"server-state-changed","z":"708340297608217b","name":"EV SOC > setpoint","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ev_battery_new_soc_estim_percent","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"$entities('input_number.ev_battery_soc_setpoint').state","halt_if_type":"jsonata","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":180,"wires":[["d5b038eaea3257a9"],[]]},{"id":"05c478575d8edbca","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":800,"y":180,"wires":[["3a98631f08023abf"],[]]},{"id":"3a98631f08023abf","type":"api-call-service","z":"e2675ef4094d2c74","name":"EV Plug ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":240,"wires":[[]]},{"id":"7a386c8543f287d7","type":"api-call-service","z":"e2675ef4094d2c74","name":"EV Plug OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":60,"wires":[[]]},{"id":"6f2de5187a28ade2","type":"delay","z":"e2675ef4094d2c74","name":"5 Min Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":120,"wires":[["7a386c8543f287d7"]]},{"id":"ee9f6c4c3b0dad60","type":"server-state-changed","z":"e2675ef4094d2c74","name":"EV charging mode","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.ev_charging_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":100,"wires":[["64f45ecb39f8d294"]]},{"id":"64f45ecb39f8d294","type":"switch","z":"e2675ef4094d2c74","name":"mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"schedule","vt":"str"},{"t":"eq","v":"solar","vt":"str"},{"t":"eq","v":"manual","vt":"str"},{"t":"eq","v":"solar&schedule","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":100,"wires":[["7a386c8543f287d7","ceb73fc8f071382a"],["7a386c8543f287d7","da5c28f003642533"],["7a386c8543f287d7","ceb73fc8f071382a"],["05c478575d8edbca","ceb73fc8f071382a"],["da5c28f003642533"]]},{"id":"1fd30f2150a2820d","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC > set = on","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"$entities('input_number.solar_battery_soc_treshold_ev_charging').state","halt_if_type":"jsonata","halt_if_compare":"gt","outputs":2,"x":100,"y":240,"wires":[["5b19265141dde464"],[]]},{"id":"0e6e6d9bc5365802","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC < set = off","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"$entities('input_number.solar_battery_soc_treshold_ev_charging').state","halt_if_type":"jsonata","halt_if_compare":"lt","outputs":2,"x":100,"y":300,"wires":[["357d3d69d48e0886"],[]]},{"id":"357d3d69d48e0886","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = Solar","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":320,"y":300,"wires":[["4bc35be53eeea405"],[]]},{"id":"4bc35be53eeea405","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":580,"y":300,"wires":[["6f2de5187a28ade2"],[]]},{"id":"569e4479df9ebf89","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Multi Temperature alarm","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multi_temperature_alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":360,"wires":[["32180ec2845c8169"],[]]},{"id":"cf903ebf86abda99","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Grid power > 800W","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_grid_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"800","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"3","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":460,"wires":[["32180ec2845c8169"],[]]},{"id":"1739d15c952a4d06","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":680,"y":400,"wires":[["7a386c8543f287d7"],[]]},{"id":"855ee67f628d0978","type":"comment","z":"e2675ef4094d2c74","name":"EV Charging off due to high loads","info":"","x":370,"y":360,"wires":[]},{"id":"6a7d1753b2e16738","type":"comment","z":"e2675ef4094d2c74","name":"EV Charging ","info":"","x":70,"y":20,"wires":[]},{"id":"2a400e22acada67f","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check mode =Solar/sch","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":580,"y":200,"wires":[["05c478575d8edbca"],[]]},{"id":"85b06c827bbaff13","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = Solar","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":420,"y":460,"wires":[["1739d15c952a4d06"],["1569373dba12d7ac"]]},{"id":"67f7c7ba4908fb16","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Multi Overload alarm","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multi_overload_alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":400,"wires":[["32180ec2845c8169"],[]]},{"id":"a3e508370f78eb89","type":"delay","z":"e2675ef4094d2c74","name":"5 Min Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":770,"y":300,"wires":[["3a98631f08023abf"]]},{"id":"1569373dba12d7ac","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":680,"y":460,"wires":[[],[]]},{"id":"73161d3697595436","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Solar power < 1.4 kW","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_solar_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1400","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":520,"wires":[["32180ec2845c8169"],[]]},{"id":"11cdd1969cd3ea14","type":"poll-state","z":"e2675ef4094d2c74","name":"Poll state Charging mode","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"input_select.ev_charging_mode","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":310,"y":20,"wires":[["4c37226993e6ec0e"]]},{"id":"4c37226993e6ec0e","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = Off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":560,"y":20,"wires":[["4bc35be53eeea405"],[]]},{"id":"3bab8a655641253e","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = Solar","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":620,"wires":[["b74e9b2e5cc5975d"],[]]},{"id":"7cb2123df143eade","type":"comment","z":"e2675ef4094d2c74","name":"EV Charging message to tablet","info":"","x":130,"y":580,"wires":[]},{"id":"b74e9b2e5cc5975d","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":600,"y":620,"wires":[["1e8c3e33a4988c26"],[]]},{"id":"8bb4e519fa5da413","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Load power < 1800W","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_ac_loads","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1800","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":620,"wires":[["3bab8a655641253e"],[]]},{"id":"1e8c3e33a4988c26","type":"api-call-service","z":"e2675ef4094d2c74","name":"Notify Tablet: Car not plugged in ","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_sm_t813","entityId":"","data":"{\"message\":\"Auto nicht an Dose angeschlossen. Laden?\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":680,"wires":[[]]},{"id":"ceb73fc8f071382a","type":"api-call-service","z":"e2675ef4094d2c74","name":"Scheduler OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.schedule_ev_charge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":100,"wires":[[]]},{"id":"da5c28f003642533","type":"api-call-service","z":"e2675ef4094d2c74","name":"Scheduler ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.schedule_ev_charge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":140,"wires":[[]]},{"id":"5b19265141dde464","type":"api-current-state","z":"e2675ef4094d2c74","name":"Solar power > 1.8k","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"1800","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.multiplus_solar_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":240,"wires":[["2a400e22acada67f"],[]]},{"id":"604f9da534e362d5","type":"api-current-state","z":"e2675ef4094d2c74","name":"Solar power > 1k","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"1000","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.multiplus_solar_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":200,"wires":[["2a400e22acada67f"],[]]},{"id":"85e4439e85bf5278","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC > 90% = on","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"90","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"x":110,"y":200,"wires":[["604f9da534e362d5"],[]]},{"id":"2149d652b0835383","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Charging off when limit setpoint reached","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.ev_charging_scheduled_charge_limit","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"$entities('sensor.multiplus_ac_loads').state","halt_if_type":"jsonata","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":680,"wires":[[],[]]},{"id":"887a18fc9a284bd3","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC > 99% = on","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"99","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"x":110,"y":160,"wires":[["2a400e22acada67f"],[]]},{"id":"32180ec2845c8169","type":"api-current-state","z":"e2675ef4094d2c74","name":"charging scheduled off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.ev_charging_scheduled_onoff","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":320,"y":420,"wires":[["85b06c827bbaff13"],[]]},{"id":"fe3dfa59df19fc6d","type":"api-current-state","z":"708340297608217b","name":"Check EV mode = s&schedule","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"schedule, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"payload\": \"{{ states('sensor.battery_state_of_charge')}}\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":350,"y":60,"wires":[["e10b319ffc155a37","82a6c7f8229fa659"],[]]},{"id":"36b1c2605f39f495","type":"comment","z":"708340297608217b","name":"EV Charging scheduled (at night)","info":"Smart Scheduled Charging allows to charge your car battery to a certain desired SOC over night.\nAs it does not make sense to charge the battery in most cases to 100% it is desirable to charge up to 80%, what allows still to charge the next day with solar. And anyway car batteries stay healthier if you don't charge it to 100%.  ","x":130,"y":20,"wires":[]},{"id":"a886a4b7c29f6cd6","type":"api-call-service","z":"708340297608217b","name":"Write Charge SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":40,"wires":[[]],"info":"solar Write_new_min_soc_for_scheduled_car_charge\n\nvalue = actual SOC"},{"id":"5b141ceb4b54f2b0","type":"server-state-changed","z":"708340297608217b","name":"Charging sched on","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ev_charging_scheduled_onoff","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":60,"wires":[["fe3dfa59df19fc6d"],[]]},{"id":"d5b038eaea3257a9","type":"api-current-state","z":"708340297608217b","name":"Check EV mode = s&schedule","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"schedule, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"payload\": $entities('sensor.battery_state_of_charge').state}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":350,"y":140,"wires":[["821e50e05f9c06da","5310ec3152834ef6"],[]]},{"id":"ee7c06fa72fe2a73","type":"server-state-changed","z":"708340297608217b","name":"Charging sched off","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ev_charging_scheduled_onoff","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":120,"wires":[["d5b038eaea3257a9"],[]]},{"id":"2b18b70dea4aa86a","type":"api-call-service","z":"708340297608217b","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":140,"wires":[[]]},{"id":"5e5e1e8715df8dde","type":"poll-state","z":"708340297608217b","name":"EV Charger Power","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.shelly_em_channel_1_power","state_type":"num","halt_if":"","halt_if_type":"entity","halt_if_compare":"is","outputs":1,"x":90,"y":300,"wires":[["299a806b848d50db"]]},{"id":"299a806b848d50db","type":"function","z":"708340297608217b","name":"Check and convert to SOC","func":"// payload = actual charging power in kW\n// 3.8 kW = max charge capacity  / 100% = 10kWh \n// 3.6 kW  = estimated 93% SOC reached\n// 3.6 kW / 27.6 = 90 % SOC\nvar newFloat = (msg.payload / 27.7);\nif (newFloat < 60) {\n    FloatVal = 00;}\nelse if (newFloat > 99) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["34316fcb3af988fb"]]},{"id":"c3ac90985650bdf4","type":"switch","z":"708340297608217b","name":"limit reached","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":260,"wires":[["93ccb514380b80c2"]]},{"id":"34316fcb3af988fb","type":"api-current-state","z":"708340297608217b","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":590,"y":300,"wires":[["c3ac90985650bdf4"],[]]},{"id":"93ccb514380b80c2","type":"delay","z":"708340297608217b","name":"2 Min Delay","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":600,"y":260,"wires":[["d5b038eaea3257a9"]]},{"id":"821e50e05f9c06da","type":"api-call-service","z":"708340297608217b","name":"EV Plug OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":190,"wires":[[]]},{"id":"e10b319ffc155a37","type":"api-call-service","z":"708340297608217b","name":"EV Plug ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":90,"wires":[[]]},{"id":"f04e4d36a1be3441","type":"inject","z":"e2675ef4094d2c74","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":280,"wires":[["5b19265141dde464"]]},{"id":"82a6c7f8229fa659","type":"api-current-state","z":"708340297608217b","name":"Inject SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battery_state_of_charge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":60,"wires":[["a886a4b7c29f6cd6"]]},{"id":"5310ec3152834ef6","type":"api-current-state","z":"708340297608217b","name":"Inject estim.SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":140,"wires":[["2b18b70dea4aa86a"]]},{"id":"4bff4ff356695705","type":"comment","z":"708340297608217b","name":"Stop scheduled Charging by declining energy","info":"Experimental feature in the case you can charge with a high current your car ev. decreasing the charge power at 90% SOC.","x":170,"y":260,"wires":[]},{"id":"87a76ff682857458","type":"api-call-service","z":"708340297608217b","name":"Ad Energ to estimated SOC","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.ev_battery_estimated_soc","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":610,"wires":[[]]},{"id":"2331cdd7b85ff473","type":"api-current-state","z":"708340297608217b","name":"Inject charged Energ %","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ev_battery_plug_energy_today_percent","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"test","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":540,"wires":[["a35766bebe26aa77"]]},{"id":"c41578556f0a69c2","type":"function","z":"708340297608217b","name":"Ad charged % to SOC","func":"// payload = chraged Energy in %\n// soc = estimated SOC\n\nvar newFloat = (msg.payload + msg.soc);\nif (newFloat < 0) {\n    FloatVal = 50;}\nelse if (newFloat > 100) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":610,"wires":[["87a76ff682857458"]]},{"id":"a35766bebe26aa77","type":"api-current-state","z":"708340297608217b","name":"Inject estimated SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_battery_estimated_soc","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":540,"wires":[["c41578556f0a69c2"]]},{"id":"f679c8ee4bc0e28e","type":"inject","z":"708340297608217b","name":"at 6 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":80,"y":690,"wires":[["822280a958b0bcf5"]]},{"id":"84d97e78a8c3e1a7","type":"api-call-service","z":"708340297608217b","name":"Write to estimated SOC","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.ev_battery_estimated_soc","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":760,"wires":[[]]},{"id":"822280a958b0bcf5","type":"api-current-state","z":"708340297608217b","name":"Inject average bat use %","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_charging_daily_average_use","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"test","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":690,"wires":[["8f4725fc13a4d6f3"]]},{"id":"72afbc2c45829e97","type":"function","z":"708340297608217b","name":"Subtract daily use to SOC","func":"// payload = chraged Energy in %\n// soc = estimated SOC\n\nvar newFloat = (msg.soc - msg.payload);\nif (newFloat < 0) {\n    FloatVal = 50;}\nelse if (newFloat > 100) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":760,"wires":[["84d97e78a8c3e1a7"]]},{"id":"8f4725fc13a4d6f3","type":"api-current-state","z":"708340297608217b","name":"Inject estimated SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_battery_estimated_soc","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":690,"wires":[["72afbc2c45829e97"]]},{"id":"5d12dfc4aceae2df","type":"comment","z":"708340297608217b","name":"Calculate Bat SOC estimation at daily time","info":"","x":160,"y":400,"wires":[]},{"id":"fd3c7b14c24d823f","type":"comment","z":"708340297608217b","name":"Calculate Bat SOC by adding estimated daily bat use","info":"","x":190,"y":650,"wires":[]}]