node-red/flow_Victron_SOC_control.json
[{"id":"db648e3.d7e4a7","type":"tab","label":"Victron SOC","disabled":false,"info":"Victron Battery minmial SOC control\nThe Victron Inverter with ESS allows to control the minimal State Of Charge (SOC). This means if the minimal SOC is higher than\nthe actual SOC the battery gets charged ofer the grid. I use this to charge my battery over-night with the cheaper night tariff.\n\nBy using the Forecast.Solar integration I adjust the desired minimum SOC by the expected tomorrow solar yield.\n\nThe Charging has 2 modes:\n\n- Weather forecast (set)\n- Weather forecast & Night charge (Combination of forecast & Night charging)"},{"id":"5691b757.4904d","type":"api-current-state","z":"db648e3.d7e4a7","name":"Check mode = Weather & Night","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":320,"y":280,"wires":[["ab1dfb8f515dd2c9"],[]]},{"id":"8ace42ed.9021b8","type":"comment","z":"db648e3.d7e4a7","name":"SOC control by Solcast Yield forecast","info":"","x":150,"y":20,"wires":[]},{"id":"4a2bbc00.808a9c","type":"comment","z":"db648e3.d7e4a7","name":"SOC control for Night Charge","info":"Many countries have lower electricity tariffs during the night. This lower price can be used to charge the battery over night if the expected solar yield is low. ","x":120,"y":230,"wires":[]},{"id":"4a24d805.641018","type":"poll-state","z":"db648e3.d7e4a7","name":"Energy Production Tomorrow","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"hours","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.energy_production_tomorrow","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":120,"y":80,"wires":[["ba5b0cf7f54df741"]]},{"id":"57db7454.fe351c","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC to var","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.victron_soc_etimated_value","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":90,"wires":[[]]},{"id":"88a14afc.48e6c8","type":"function","z":"db648e3.d7e4a7","name":"Check and convert to SOC","func":"// payload = estimated kwH solar gain\n// energy_yesterday = consumed total energy\n// 8 kWh = max charge capacity (20-100%) / 100% = 10kWh \n// 20 kWh * 3.5 = 75 // 100-75 = 25 % SOC\n// 5 kWh * 3.5 = 17.5 // 100-17.5 = 82.5 % SOC\nvar HourlyEnergFloat = (msg.energy_yesterday / 24);\nvar HoursSOCFloat = (HourlyEnergFloat * 4);\nvar newSOCFloat = 100 - ((msg.payload - HoursSOCFloat) * 3.5);\nif (newSOCFloat < 20) {\n    FloatVal = 20;}\nelse if (newSOCFloat > 65) {\n    FloatVal = 65;}\nelse {\n    FloatVal = newSOCFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":30,"wires":[["a77406a07a34b036"]]},{"id":"7aeb0c2759cd7bef","type":"api-current-state","z":"db648e3.d7e4a7","name":"Check mode = Weather & Night","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":490,"wires":[["325cf64610a071af"],[]]},{"id":"41edc8ea09285e60","type":"inject","z":"db648e3.d7e4a7","name":"it is 06:55","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"55 06 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":490,"wires":[["7aeb0c2759cd7bef"]]},{"id":"a77406a07a34b036","type":"time-range-switch","z":"db648e3.d7e4a7","name":"","lat":"43.184415","lon":"1.6","startTime":"12:30","endTime":"23:55","startOffset":0,"endOffset":0,"x":800,"y":30,"wires":[["57db7454.fe351c"],[]]},{"id":"d98c10d4a666dcf7","type":"debug","z":"db648e3.d7e4a7","name":"out2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":330,"wires":[]},{"id":"2f7ca8a6f37c172b","type":"comment","z":"db648e3.d7e4a7","name":"Work in Progress !!!!","info":"","x":90,"y":450,"wires":[]},{"id":"325cf64610a071af","type":"api-current-state","z":"db648e3.d7e4a7","name":"Inject estim.SOC","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"20","halt_if_type":"num","halt_if_compare":"gt","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":490,"wires":[["116efbdebb3bdd0a"],[]]},{"id":"116efbdebb3bdd0a","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":490,"wires":[[]]},{"id":"ab1dfb8f515dd2c9","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy yesterday","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"variable.victron_consumed_energy_yest","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":370,"wires":[["6ff6e0f8717fdb25"]]},{"id":"c05b673aaca07616","type":"function","z":"db648e3.d7e4a7","name":"Calculate Night Charge SOC","func":"// msg.energy = consumed energy yesterday in kWh\n// msg.estimate = estimated solar energy tomorrow kWh\n// Winter scenario: \n// consumed energy = 35 kWh \n// estimated energy production = 15 kWh \n// = 20kWh from grid, which means bat can get charged to 95%  \n// Summer scenario: \n// consumed energy = 20 kWh \n// estimated energy production = 25 kWh \n// = 5kWh to bat or grid, which means bat can get charged to 40%\n// 60 - (5 * 4) = 40% (20% SOC)\nvar enerDiffFloat = (msg.estimate - msg.energy);\nvar energyFloat = 0\nif (enerDiffFloat < 0) // consum > production\n    {energyFloat = ((msg.energy - msg.estimate) * 5.0);}\nelse if (enerDiffFloat > 0) {\n    energyFloat = 60 - (enerDiffFloat * 4);}\nelse {\n    energyFloat = 50;}\n    \nvar socInt = parseInt(energyFloat);\nvar soc2Int = parseInt(0);\n\nif (msg.estimate_perc > socInt) {\n    soc2Int = msg.estimate_perc;}\nelse if (socInt < 40) {\n    soc2Int = 40;}\nelse if (socInt > 95) {\n    soc2Int = 95;}\nelse {\n    soc2Int = socInt;}\n    \nvar payloadOut1 = {payload: soc2Int}\nvar resultOut2 = {payload: energyFloat}\nmsg = [payloadOut1, resultOut2];\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["7f8b430663642497"],["d98c10d4a666dcf7"]]},{"id":"6ff6e0f8717fdb25","type":"api-current-state","z":"db648e3.d7e4a7","name":"inject energy tomorrow","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.energy_production_tomorrow","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"estimate","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":370,"wires":[["c41bd4acf236cae4"]]},{"id":"9e7835e98cc4002e","type":"inject","z":"db648e3.d7e4a7","name":"it is 21:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":280,"wires":[["5691b757.4904d"]]},{"id":"7f8b430663642497","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":270,"wires":[[]]},{"id":"9df64d6d13b78768","type":"inject","z":"db648e3.d7e4a7","name":"at 23:59 ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":80,"y":140,"wires":[["0067496e524b7059"]]},{"id":"74cc6fdbf61c7519","type":"api-call-service","z":"db648e3.d7e4a7","name":"Store Consumed Energy Script","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"victron_store_consumed_energy_yesterday","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":190,"wires":[[]]},{"id":"c41bd4acf236cae4","type":"api-current-state","z":"db648e3.d7e4a7","name":"inject bat charge tomorrow","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"estimate_perc","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":320,"wires":[["c05b673aaca07616"]]},{"id":"84159496f4772436","type":"function","z":"db648e3.d7e4a7","name":"Check plausability","func":"// msg.energy_yesterday= consumed energy yesterday in kWh\n// msg.energy_today= consumed energy today in kWh\n// If consumed energy yesterday and estimate tommorrow diff to much\n// make a \nvar enerDiffFloat = (msg.energy_yesterday - msg.energy_today);\nvar energyFloat = 0\nif (enerDiffFloat < 10) // today > yesterday\n    {energyFloat = ((msg.energy + msg.estimate) /2);}\nelse if (enerDiffFloat > 10) \n    {energyFloat = ((msg.energy + msg.estimate) /2);}\nelse {\n    energyFloat =  msg.payload;}\n    \nvar FloatVal = 0;\nif (energyFloat < 10) {\n    FloatVal = 10;}\nelse if (energyFloat > 99) {\n    FloatVal = 100;}\nelse {\n    FloatVal = energyFloat;}\n    \nvar newInt = parseInt( energyFloat );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":140,"wires":[["5e47d7d7a5f8ce93"]]},{"id":"0067496e524b7059","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy yesterday","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"variable.victron_consumed_energy_yest","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy_yesterday","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":140,"wires":[["f8be40196591cbeb"]]},{"id":"f8be40196591cbeb","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy today","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.consumed_energy_multiplus_daily","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy_today","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":140,"wires":[["84159496f4772436","74cc6fdbf61c7519"],[]]},{"id":"5e47d7d7a5f8ce93","type":"debug","z":"db648e3.d7e4a7","name":"check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"ba5b0cf7f54df741","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy yesterday","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"variable.victron_consumed_energy_yest","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy_yesterday","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":80,"wires":[["88a14afc.48e6c8"]]},{"id":"467d275d.a68208","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"info":"y|yes|true|on|home|open"}]