node-red/flows.json
[{"id":"db648e3.d7e4a7","type":"tab","label":"Victron SOC","disabled":false,"info":"Victron Battery minmial SOC control\nThe Victron Inverter with ESS allows to control the minimal State Of Charge (SOC). This means if the minimal SOC is higher than\nthe actual SOC the battery gets charged ofer the grid. I use this to charge my battery over-night with the cheaper night tariff.\n\nBy using the Forecast.Solar integration I adjust the desired minimum SOC by the expected tomorrow solar yield.\n\nThe Charging has 2 modes:\n\n- Weather forecast (set)\n- Weather forecast & Night charge (Combination of forecast & Night charging)"},{"id":"e2675ef4094d2c74","type":"tab","label":"EV Charging","disabled":false,"info":"The EV Charging allow you to charge the EV Battery at home according your needs and with minimum power from the grid.\n\nThe Charging has 4 modes:\n\n - Manual\n - Solar (Charges if the Solar Battery SOC reaches a certain level)\n - Schedule (Allows eg. charging at night with a lower grid tariff)\n - Solar&Schedule (Combination of Solar&Scheduled charging)"},{"id":"708340297608217b","type":"tab","label":"EV Smart Charge","disabled":false,"info":"Smart Scheduled Charging allows to charge your car battery to a certain desired SOC over night in using a power meter like a Shelly EM.\nAs it does not make sense to charge the battery in most cases to 100% it is desirable to charge up to 80%, what allows still to charge the next day with solar. And anyway car batteries stay healthier if you don't charge it to 100%.  "},{"id":"4a2519b5d3b09a53","type":"tab","label":"Heating","disabled":false,"info":"This automation requires that your Heat Pump can be controlled by HA. \nIt sets the Mitsubishi Ecodan Target temperature according the demand temp from all the Thermostats in relation to the the room temp. "},{"id":"f3d754a73bc9c8dc","type":"tab","label":"VMC Ventilation","disabled":false,"info":""},{"id":"9071ff05.669d6","type":"tab","label":"Lamps","disabled":false,"info":"Subscribed to Z-Wave JS Log Messages...\n2021-07-06T16:56:02.326Z CNTRLR « [Node 010] received CentralScene notification {\n                                      \"nodeId\": 10,\n                                      \"ccId\": \"Central Scene\",\n                                      \"ccCommand\": \"0x03\",\n                                      \"payload\": \"0x028001\"\n                                  }\n2021-07-06T16:56:02.495Z CNTRLR « [Node 010] received CentralScene notification {\n                                      \"nodeId\": 10,\n                                      \"ccId\": \"Central Scene\",\n                                      \"ccCommand\": \"0x03\",\n                                      \"payload\": \"0x038302\"\n                                  }\n2021-07-06T16:56:04.835Z CNTRLR « [Node 010] received CentralScene notification {\n                                      \"nodeId\": 10,\n                                      \"ccId\": \"Central Scene\",\n                                      \"ccCommand\": \"0x03\",\n                                      \"payload\": \"0x048001\"\n                                  }"},{"id":"b4ea084f.1fcca","type":"tab","label":"Load discharge","disabled":false,"info":"Kontrolle von Relais Kxx (Waschküche/Sicherungskasten) für Herplatten."},{"id":"2c48b410.e40854","type":"ui_group","name":"Timer 1","tab":"170691f8.d5f3ae","order":1,"disp":true,"width":"6","collapse":false},{"id":"170691f8.d5f3ae","type":"ui_tab","name":"Zeitschaltuhr","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"930e36d9.15cb48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7f77248a.7eca24","type":"ui_group","name":"Timer 1","tab":"c884960e.f9c938","order":1,"disp":true,"width":"6","collapse":false},{"id":"c884960e.f9c938","type":"ui_tab","name":"Zeitschaltuhr","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"467d275d.a68208","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"info":"y|yes|true|on|home|open"},{"id":"10f4c357.f3da8d","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"5691b757.4904d","type":"api-current-state","z":"db648e3.d7e4a7","name":"Check mode = Weather & Night","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":320,"y":280,"wires":[["ab1dfb8f515dd2c9"],[]]},{"id":"8ace42ed.9021b8","type":"comment","z":"db648e3.d7e4a7","name":"SOC control by Solcast Yield forecast","info":"","x":150,"y":20,"wires":[]},{"id":"4a2bbc00.808a9c","type":"comment","z":"db648e3.d7e4a7","name":"SOC control for Night Charge","info":"Many countries have lower electricity tariffs during the night. This lower price can be used to charge the battery over night if the expected solar yield is low. ","x":120,"y":230,"wires":[]},{"id":"4a24d805.641018","type":"poll-state","z":"db648e3.d7e4a7","name":"Energy Production Tomorrow","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"hours","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.energy_production_tomorrow","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":120,"y":80,"wires":[["ba5b0cf7f54df741"]]},{"id":"57db7454.fe351c","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC to var","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.victron_soc_etimated_value","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":90,"wires":[[]]},{"id":"88a14afc.48e6c8","type":"function","z":"db648e3.d7e4a7","name":"Check and convert to SOC","func":"// payload = estimated kwH solar gain\n// energy_yesterday = consumed total energy\n// 8 kWh = max charge capacity (20-100%) / 100% = 10kWh \n// 20 kWh * 3.5 = 75 // 100-75 = 25 % SOC\n// 5 kWh * 3.5 = 17.5 // 100-17.5 = 82.5 % SOC\nvar HourlyEnergFloat = (msg.energy_yesterday / 24);\nvar HoursSOCFloat = (HourlyEnergFloat * 4);\nvar newSOCFloat = 100 - ((msg.payload - HoursSOCFloat) * 3.5);\nif (newSOCFloat < 20) {\n    FloatVal = 20;}\nelse if (newSOCFloat > 65) {\n    FloatVal = 65;}\nelse {\n    FloatVal = newSOCFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":30,"wires":[["a77406a07a34b036"]]},{"id":"7aeb0c2759cd7bef","type":"api-current-state","z":"db648e3.d7e4a7","name":"Check mode = Weather & Night","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":490,"wires":[["325cf64610a071af"],[]]},{"id":"41edc8ea09285e60","type":"inject","z":"db648e3.d7e4a7","name":"it is 06:55","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"55 06 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":490,"wires":[["7aeb0c2759cd7bef"]]},{"id":"a77406a07a34b036","type":"time-range-switch","z":"db648e3.d7e4a7","name":"","lat":"43.184415","lon":"1.6","startTime":"12:30","endTime":"23:55","startOffset":0,"endOffset":0,"x":800,"y":30,"wires":[["57db7454.fe351c"],[]]},{"id":"d98c10d4a666dcf7","type":"debug","z":"db648e3.d7e4a7","name":"out2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":330,"wires":[]},{"id":"2f7ca8a6f37c172b","type":"comment","z":"db648e3.d7e4a7","name":"Work in Progress !!!!","info":"","x":90,"y":450,"wires":[]},{"id":"325cf64610a071af","type":"api-current-state","z":"db648e3.d7e4a7","name":"Inject estim.SOC","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"20","halt_if_type":"num","halt_if_compare":"gt","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":490,"wires":[["116efbdebb3bdd0a"],[]]},{"id":"116efbdebb3bdd0a","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":490,"wires":[[]]},{"id":"ab1dfb8f515dd2c9","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy yesterday","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"variable.victron_consumed_energy_yest","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":370,"wires":[["6ff6e0f8717fdb25"]]},{"id":"c05b673aaca07616","type":"function","z":"db648e3.d7e4a7","name":"Calculate Night Charge SOC","func":"// msg.energy = consumed energy yesterday in kWh\n// msg.estimate = estimated solar energy tomorrow kWh\n// Winter scenario: \n// consumed energy = 35 kWh \n// estimated energy production = 15 kWh \n// = 20kWh from grid, which means bat can get charged to 95%  \n// Summer scenario: \n// consumed energy = 20 kWh \n// estimated energy production = 25 kWh \n// = 5kWh to bat or grid, which means bat can get charged to 40%\n// 60 - (5 * 4) = 40% (20% SOC)\nvar enerDiffFloat = (msg.estimate - msg.energy);\nvar energyFloat = 0\nif (enerDiffFloat < 0) // consum > production\n    {energyFloat = ((msg.energy - msg.estimate) * 5.0);}\nelse if (enerDiffFloat > 0) {\n    energyFloat = 60 - (enerDiffFloat * 4);}\nelse {\n    energyFloat = 50;}\n    \nvar socInt = parseInt(energyFloat);\nvar soc2Int = parseInt(0);\n\nif (msg.estimate_perc > socInt) {\n    soc2Int = msg.estimate_perc;}\nelse if (socInt < 40) {\n    soc2Int = 40;}\nelse if (socInt > 95) {\n    soc2Int = 95;}\nelse {\n    soc2Int = socInt;}\n    \nvar payloadOut1 = {payload: soc2Int}\nvar resultOut2 = {payload: energyFloat}\nmsg = [payloadOut1, resultOut2];\n\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["7f8b430663642497"],["d98c10d4a666dcf7"]]},{"id":"6ff6e0f8717fdb25","type":"api-current-state","z":"db648e3.d7e4a7","name":"inject energy tomorrow","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.energy_production_tomorrow","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"estimate","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":370,"wires":[["c41bd4acf236cae4"]]},{"id":"9e7835e98cc4002e","type":"inject","z":"db648e3.d7e4a7","name":"it is 21:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":280,"wires":[["5691b757.4904d"]]},{"id":"7f8b430663642497","type":"api-call-service","z":"db648e3.d7e4a7","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":270,"wires":[[]]},{"id":"9df64d6d13b78768","type":"inject","z":"db648e3.d7e4a7","name":"at 23:59 ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":80,"y":140,"wires":[["0067496e524b7059"]]},{"id":"74cc6fdbf61c7519","type":"api-call-service","z":"db648e3.d7e4a7","name":"Store Consumed Energy Script","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"victron_store_consumed_energy_yesterday","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":920,"y":190,"wires":[[]]},{"id":"c41bd4acf236cae4","type":"api-current-state","z":"db648e3.d7e4a7","name":"inject bat charge tomorrow","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"estimate_perc","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":320,"wires":[["c05b673aaca07616"]]},{"id":"84159496f4772436","type":"function","z":"db648e3.d7e4a7","name":"Check plausability","func":"// msg.energy_yesterday= consumed energy yesterday in kWh\n// msg.energy_today= consumed energy today in kWh\n// If consumed energy yesterday and estimate tommorrow diff to much\n// make a \nvar enerDiffFloat = (msg.energy_yesterday - msg.energy_today);\nvar energyFloat = 0\nif (enerDiffFloat < 10) // today > yesterday\n    {energyFloat = ((msg.energy + msg.estimate) /2);}\nelse if (enerDiffFloat > 10) \n    {energyFloat = ((msg.energy + msg.estimate) /2);}\nelse {\n    energyFloat =  msg.payload;}\n    \nvar FloatVal = 0;\nif (energyFloat < 10) {\n    FloatVal = 10;}\nelse if (energyFloat > 99) {\n    FloatVal = 100;}\nelse {\n    FloatVal = energyFloat;}\n    \nvar newInt = parseInt( energyFloat );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":140,"wires":[["5e47d7d7a5f8ce93"]]},{"id":"0067496e524b7059","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy yesterday","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"variable.victron_consumed_energy_yest","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy_yesterday","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":140,"wires":[["f8be40196591cbeb"]]},{"id":"f8be40196591cbeb","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy today","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.consumed_energy_multiplus_daily","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy_today","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":140,"wires":[["84159496f4772436","74cc6fdbf61c7519"],[]]},{"id":"5e47d7d7a5f8ce93","type":"debug","z":"db648e3.d7e4a7","name":"check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":140,"wires":[]},{"id":"ba5b0cf7f54df741","type":"api-current-state","z":"db648e3.d7e4a7","name":"consumed energy yesterday","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"variable.victron_consumed_energy_yest","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"energy_yesterday","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":80,"wires":[["88a14afc.48e6c8"]]},{"id":"05c478575d8edbca","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":800,"y":180,"wires":[["3a98631f08023abf"],[]]},{"id":"3a98631f08023abf","type":"api-call-service","z":"e2675ef4094d2c74","name":"EV Plug ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":240,"wires":[[]]},{"id":"7a386c8543f287d7","type":"api-call-service","z":"e2675ef4094d2c74","name":"EV Plug OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":60,"wires":[[]]},{"id":"6f2de5187a28ade2","type":"delay","z":"e2675ef4094d2c74","name":"5 Min Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":790,"y":120,"wires":[["7a386c8543f287d7"]]},{"id":"ee9f6c4c3b0dad60","type":"server-state-changed","z":"e2675ef4094d2c74","name":"EV charging mode","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.ev_charging_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":100,"wires":[["64f45ecb39f8d294"]]},{"id":"64f45ecb39f8d294","type":"switch","z":"e2675ef4094d2c74","name":"mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"schedule","vt":"str"},{"t":"eq","v":"solar","vt":"str"},{"t":"eq","v":"manual","vt":"str"},{"t":"eq","v":"solar&schedule","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":100,"wires":[["7a386c8543f287d7","ceb73fc8f071382a"],["7a386c8543f287d7","da5c28f003642533"],["7a386c8543f287d7","ceb73fc8f071382a"],["05c478575d8edbca","ceb73fc8f071382a"],["da5c28f003642533"]]},{"id":"1fd30f2150a2820d","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC > set = on","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"$entities('input_number.victron_battery_soc_treshold_ev_charging').state","halt_if_type":"jsonata","halt_if_compare":"gt","outputs":2,"x":100,"y":240,"wires":[["5b19265141dde464"],[]]},{"id":"0e6e6d9bc5365802","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC < set = off","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"$entities('input_number.victron_battery_soc_treshold_ev_charging').state","halt_if_type":"jsonata","halt_if_compare":"lt","outputs":2,"x":100,"y":300,"wires":[["357d3d69d48e0886"],[]]},{"id":"357d3d69d48e0886","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = S&Solar","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":300,"wires":[["c17f8bbc7b32a095"],[]]},{"id":"4bc35be53eeea405","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":620,"y":280,"wires":[["6f2de5187a28ade2"],[]]},{"id":"569e4479df9ebf89","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Multi Temperature alarm","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multi_temperature_alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":360,"wires":[["32180ec2845c8169"],[]]},{"id":"cf903ebf86abda99","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Grid power > 800W","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_grid_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"800","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"3","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":460,"wires":[["32180ec2845c8169"],[]]},{"id":"1739d15c952a4d06","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":680,"y":400,"wires":[["7a386c8543f287d7"],[]]},{"id":"855ee67f628d0978","type":"comment","z":"e2675ef4094d2c74","name":"EV Charging off due to high loads","info":"","x":370,"y":360,"wires":[]},{"id":"6a7d1753b2e16738","type":"comment","z":"e2675ef4094d2c74","name":"EV Charging ","info":"","x":70,"y":20,"wires":[]},{"id":"2a400e22acada67f","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check mode =Solar/sch","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":580,"y":200,"wires":[["05c478575d8edbca"],[]]},{"id":"85b06c827bbaff13","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = Solar","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":430,"y":470,"wires":[["1739d15c952a4d06"],["1569373dba12d7ac"]]},{"id":"67f7c7ba4908fb16","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Multi Overload alarm","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multi_overload_alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"0","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":400,"wires":[["32180ec2845c8169"],[]]},{"id":"1569373dba12d7ac","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":680,"y":460,"wires":[[],[]]},{"id":"73161d3697595436","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Solar power < 1.4 kW","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_solar_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1400","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":520,"wires":[["32180ec2845c8169"],[]]},{"id":"11cdd1969cd3ea14","type":"poll-state","z":"e2675ef4094d2c74","name":"Poll state Charging mode","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"input_select.ev_charging_mode","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":310,"y":20,"wires":[["4c37226993e6ec0e"]]},{"id":"4c37226993e6ec0e","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = Off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":560,"y":20,"wires":[["4bc35be53eeea405"],[]]},{"id":"3bab8a655641253e","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check EV mode = Solar","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"solar","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":620,"wires":[["b74e9b2e5cc5975d"],[]]},{"id":"7cb2123df143eade","type":"comment","z":"e2675ef4094d2c74","name":"EV Charging message to tablet","info":"","x":130,"y":580,"wires":[]},{"id":"b74e9b2e5cc5975d","type":"api-current-state","z":"e2675ef4094d2c74","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":600,"y":620,"wires":[["1e8c3e33a4988c26"],[]]},{"id":"8bb4e519fa5da413","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Load power < 1800W","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_ac_loads","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"1800","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":620,"wires":[["3bab8a655641253e"],[]]},{"id":"1e8c3e33a4988c26","type":"api-call-service","z":"e2675ef4094d2c74","name":"Notify Tablet: Car not plugged in ","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_sm_t813","entityId":"","data":"{\"message\":\"Auto nicht an Dose angeschlossen. Laden?\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":680,"wires":[[]]},{"id":"ceb73fc8f071382a","type":"api-call-service","z":"e2675ef4094d2c74","name":"Scheduler OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.schedule_ev_charge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":100,"wires":[[]]},{"id":"da5c28f003642533","type":"api-call-service","z":"e2675ef4094d2c74","name":"Scheduler ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.schedule_ev_charge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":150,"wires":[[]]},{"id":"5b19265141dde464","type":"api-current-state","z":"e2675ef4094d2c74","name":"Solar power > 1.8k","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"1800","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.multiplus_solar_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":240,"wires":[["2a400e22acada67f"],[]]},{"id":"604f9da534e362d5","type":"api-current-state","z":"e2675ef4094d2c74","name":"Solar power > 1k","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"1000","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.multiplus_solar_power","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":200,"wires":[["2a400e22acada67f"],[]]},{"id":"85e4439e85bf5278","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC > 90% = on","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"90","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"x":110,"y":200,"wires":[["604f9da534e362d5"],[]]},{"id":"2149d652b0835383","type":"server-state-changed","z":"e2675ef4094d2c74","name":"Charging off when limit setpoint reached","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.ev_charging_scheduled_charge_limit","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"$entities('sensor.multiplus_ac_loads').state","halt_if_type":"jsonata","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":680,"wires":[[],[]]},{"id":"887a18fc9a284bd3","type":"poll-state","z":"e2675ef4094d2c74","name":"battery SOC > 99% = on","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.battery_state_of_charge","state_type":"num","halt_if":"99","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"x":110,"y":160,"wires":[["2a400e22acada67f"],[]]},{"id":"32180ec2845c8169","type":"api-current-state","z":"e2675ef4094d2c74","name":"charging scheduled off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.ev_charging_scheduled_onoff","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":320,"y":420,"wires":[["85b06c827bbaff13"],[]]},{"id":"c17f8bbc7b32a095","type":"api-current-state","z":"e2675ef4094d2c74","name":"Check scheduled=off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.ev_charging_scheduled_onoff","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":600,"y":330,"wires":[["4bc35be53eeea405"],[]]},{"id":"5543b40c3804bb35","type":"inject","z":"708340297608217b","name":"at 6 am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":80,"y":490,"wires":[["3b8e02f2c282fb76","c5a68b2869aebcb3"]]},{"id":"c9b3c73e59e7c518","type":"poll-state","z":"708340297608217b","name":"EV Charger Energy","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.shelly_em_channel_1_energy","state_type":"num","halt_if":"","halt_if_type":"entity","halt_if_compare":"is","outputs":1,"x":90,"y":530,"wires":[[]]},{"id":"c5a68b2869aebcb3","type":"api-call-service","z":"708340297608217b","name":"Store Daily Energy Script","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"ev_charger_store_daily_energy_yesterday","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":490,"wires":[[]]},{"id":"d991cd33f312468a","type":"api-call-service","z":"708340297608217b","name":"Store Daily Energy Today","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"1633965939939","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":540,"wires":[[]]},{"id":"3b8e02f2c282fb76","type":"delay","z":"708340297608217b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":530,"wires":[["d991cd33f312468a","2331cdd7b85ff473"]]},{"id":"21bf79487695bfdb","type":"comment","z":"708340297608217b","name":"Stop scheduled Charging by SOC estimation and setpoint.","info":"","x":420,"y":280,"wires":[]},{"id":"e0172c38bb3de575","type":"server-state-changed","z":"708340297608217b","name":"EV SOC > setpoint","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ev_battery_new_soc_estim_percent","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"$entities('input_number.ev_battery_soc_setpoint').state","halt_if_type":"jsonata","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":210,"wires":[["d5b038eaea3257a9"],[]]},{"id":"fe3dfa59df19fc6d","type":"api-current-state","z":"708340297608217b","name":"Check EV mode = s&schedule","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"schedule, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"payload\": \"{{ states('sensor.battery_state_of_charge')}}\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":60,"wires":[["8d6ecc294b290f5a"],[]]},{"id":"36b1c2605f39f495","type":"comment","z":"708340297608217b","name":"EV Charging scheduled (at night)","info":"Smart Scheduled Charging allows to charge your car battery to a certain desired SOC over night.\nAs it does not make sense to charge the battery in most cases to 100% it is desirable to charge up to 80%, what allows still to charge the next day with solar. And anyway car batteries stay healthier if you don't charge it to 100%.  ","x":130,"y":20,"wires":[]},{"id":"a886a4b7c29f6cd6","type":"api-call-service","z":"708340297608217b","name":"Write Charge SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":120,"wires":[[]],"info":"solar Write_new_min_soc_for_scheduled_car_charge\n\nvalue = actual SOC"},{"id":"d5b038eaea3257a9","type":"api-current-state","z":"708340297608217b","name":"Check EV mode = s&schedule","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"schedule, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"payload\": $entities('sensor.battery_state_of_charge').state}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":340,"y":180,"wires":[["821e50e05f9c06da","7b5d5c4f6ed984c6"],[]]},{"id":"ee7c06fa72fe2a73","type":"server-state-changed","z":"708340297608217b","name":"Charging sched off","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ev_charging_scheduled_onoff","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":150,"wires":[["d5b038eaea3257a9"],[]]},{"id":"2b18b70dea4aa86a","type":"api-call-service","z":"708340297608217b","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":230,"wires":[[]]},{"id":"5e5e1e8715df8dde","type":"poll-state","z":"708340297608217b","name":"EV Charger Power","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.shelly_em_channel_1_power","state_type":"num","halt_if":"","halt_if_type":"entity","halt_if_compare":"is","outputs":1,"x":90,"y":380,"wires":[["299a806b848d50db"]]},{"id":"299a806b848d50db","type":"function","z":"708340297608217b","name":"Check and convert to SOC","func":"// payload = actual charging power in kW\n// 3.8 kW = max charge capacity  / 100% = 10kWh \n// 3.6 kW  = estimated 93% SOC reached\n// 3.6 kW / 27.6 = 90 % SOC\nvar newFloat = (msg.payload / 27.7);\nif (newFloat < 60) {\n    FloatVal = 00;}\nelse if (newFloat > 99) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":380,"wires":[["34316fcb3af988fb"]]},{"id":"c3ac90985650bdf4","type":"switch","z":"708340297608217b","name":"limit reached","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":330,"wires":[["93ccb514380b80c2"]]},{"id":"34316fcb3af988fb","type":"api-current-state","z":"708340297608217b","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":590,"y":380,"wires":[["c3ac90985650bdf4"],[]]},{"id":"93ccb514380b80c2","type":"delay","z":"708340297608217b","name":"2 Min Delay","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":330,"wires":[[]]},{"id":"821e50e05f9c06da","type":"api-call-service","z":"708340297608217b","name":"EV Plug OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":230,"wires":[[]]},{"id":"e10b319ffc155a37","type":"api-call-service","z":"708340297608217b","name":"EV Plug ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":50,"wires":[[]]},{"id":"82a6c7f8229fa659","type":"api-current-state","z":"708340297608217b","name":"Inject SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battery_state_of_charge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":120,"wires":[["a886a4b7c29f6cd6"]]},{"id":"5310ec3152834ef6","type":"api-current-state","z":"708340297608217b","name":"Inject estim.SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":180,"wires":[["2b18b70dea4aa86a"]]},{"id":"4bff4ff356695705","type":"comment","z":"708340297608217b","name":"Stop scheduled Charging by declining energy WIP","info":"Experimental feature in the case you can charge with a high current your car ev. decreasing the charge power at 90% SOC.\nThis functionaility does only work with higher power charging > 20kW.","x":190,"y":330,"wires":[]},{"id":"87a76ff682857458","type":"api-call-service","z":"708340297608217b","name":"Ad Energ to estimated SOC","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.ev_battery_estimated_soc","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":660,"wires":[[]]},{"id":"2331cdd7b85ff473","type":"api-current-state","z":"708340297608217b","name":"Inject charged Energ %","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ev_battery_plug_energy_today_percent","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"test","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":590,"wires":[["a35766bebe26aa77"]]},{"id":"c41578556f0a69c2","type":"function","z":"708340297608217b","name":"Ad charged % to SOC","func":"// payload = chraged Energy in %\n// soc = estimated SOC\n\nvar newFloat = (msg.payload + msg.soc);\nif (newFloat < 0) {\n    FloatVal = 50;}\nelse if (newFloat > 100) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":660,"wires":[["87a76ff682857458"]]},{"id":"a35766bebe26aa77","type":"api-current-state","z":"708340297608217b","name":"Inject estimated SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_battery_estimated_soc","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":590,"wires":[["c41578556f0a69c2"]]},{"id":"f679c8ee4bc0e28e","type":"inject","z":"708340297608217b","name":"at 6 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":70,"y":740,"wires":[["822280a958b0bcf5"]]},{"id":"84d97e78a8c3e1a7","type":"api-call-service","z":"708340297608217b","name":"Write to estimated SOC","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.ev_battery_estimated_soc","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":810,"wires":[[]]},{"id":"822280a958b0bcf5","type":"api-current-state","z":"708340297608217b","name":"Inject average bat use %","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_charging_daily_average_use","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"test","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":740,"wires":[["8f4725fc13a4d6f3"]]},{"id":"72afbc2c45829e97","type":"function","z":"708340297608217b","name":"Subtract daily use to SOC","func":"// payload = chraged Energy in %\n// soc = estimated SOC\n\nvar newFloat = (msg.soc - msg.payload);\nif (newFloat < 0) {\n    FloatVal = 50;}\nelse if (newFloat > 100) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":810,"wires":[["84d97e78a8c3e1a7"]]},{"id":"8f4725fc13a4d6f3","type":"api-current-state","z":"708340297608217b","name":"Inject estimated SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_battery_estimated_soc","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":740,"wires":[["72afbc2c45829e97"]]},{"id":"5d12dfc4aceae2df","type":"comment","z":"708340297608217b","name":"Calculate Bat SOC estimation at daily time ","info":"","x":160,"y":450,"wires":[]},{"id":"fd3c7b14c24d823f","type":"comment","z":"708340297608217b","name":"Calculate Bat SOC by adding estimated daily bat use","info":"","x":190,"y":700,"wires":[]},{"id":"7b5d5c4f6ed984c6","type":"api-current-state","z":"708340297608217b","name":"Check != NightCharge","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":610,"y":180,"wires":[["5310ec3152834ef6"],[]]},{"id":"7b7e9dde5bb3ac0d","type":"api-current-state","z":"708340297608217b","name":"Bat current <  10A","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.battery_current","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":770,"y":60,"wires":[["82a6c7f8229fa659","e10b319ffc155a37"],[]]},{"id":"6b74c34e47b55468","type":"api-current-state","z":"708340297608217b","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":230,"wires":[["821e50e05f9c06da"],[]]},{"id":"556ca466868818fc","type":"server-state-changed","z":"708340297608217b","name":"Battery Current > 60A","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battery_current","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"60","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":260,"wires":[["6b74c34e47b55468"],[]]},{"id":"8d6ecc294b290f5a","type":"api-current-state","z":"708340297608217b","name":"EV SOC < setpoint","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"$entities('input_number.ev_battery_soc_setpoint').state","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"sensor.ev_battery_new_soc_estim_percent","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":570,"y":60,"wires":[["7b7e9dde5bb3ac0d"],[]]},{"id":"8dec788824f9a846","type":"poll-state","z":"708340297608217b","name":"Charging sched on","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"input_boolean.ev_charging_scheduled_onoff","state_type":"habool","halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"x":90,"y":60,"wires":[["fe3dfa59df19fc6d"],[]]},{"id":"f001b34c0dc2d706","type":"poll-state","z":"4a2519b5d3b09a53","name":"target_temp_need_house","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"20","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.tstat_target_temp_need_house","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":110,"y":80,"wires":[["902937c548152557"]]},{"id":"570cf630b822a070","type":"debug","z":"4a2519b5d3b09a53","name":"out1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":150,"wires":[]},{"id":"902937c548152557","type":"api-current-state","z":"4a2519b5d3b09a53","name":"inject target_temp_need_salon","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.tstat_target_temp_need_salon","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"need_salon","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":80,"wires":[["08abed5727748c45"]]},{"id":"c9c38933d5ab11c1","type":"function","z":"4a2519b5d3b09a53","name":"Check and convert to Ecodan Target temp","func":"// payload = target_temp_need_house (sum tsat)\n// need_salon = target_temp_need_salon (sum tsat)\n// room_temp = Room temp Salon from Ecodan\n// Ecodan Target temp = according the demand temp from Thermostats\n// to check\n\nvar sumTarget = (msg.payload + msg.need_salon);\nif (sumTarget > 0.0 && sumTarget < 0.5) {\n    TargetTemp = (msg.room_temp) + 0.05;}\nelse if (sumTarget > 0.5 && sumTarget < 1.0) {\n    TargetTemp = (msg.room_temp) + 0.5;}\nelse if (sumTarget > 0.9) {\n    TargetTemp = (msg.room_temp) + 1;}\nelse {\n    TargetTemp = (msg.room_temp) - 2.0;}\n    \nvar payloadOut1 = {payload: TargetTemp}\nvar resultOut2 = {payload: sumTarget}\nmsg = [payloadOut1, resultOut2];\n\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":210,"wires":[["570cf630b822a070","d7d1fe0d25a02c73"],["3ba55d8e1c23b892"]]},{"id":"61aae2f02f92fb06","type":"api-current-state","z":"4a2519b5d3b09a53","name":"inject target_temp_mode","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"auto","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.ecodan_target_temp_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"target_temp_factor","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":150,"wires":[["c9c38933d5ab11c1"],[]]},{"id":"9daaa0ade6da55e6","type":"comment","z":"4a2519b5d3b09a53","name":"Control of the Heat Pump for heating setpoint","info":"Sets the Ecodan Target temp according the demand temp from all the Thermostats in relation to the the room temp. ","x":170,"y":30,"wires":[]},{"id":"08abed5727748c45","type":"api-current-state","z":"4a2519b5d3b09a53","name":"inject room_temp_ecodan","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ecodan_zone_1_room_temperature","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"room_temp","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":150,"wires":[["61aae2f02f92fb06"]]},{"id":"3ba55d8e1c23b892","type":"debug","z":"4a2519b5d3b09a53","name":"out2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":250,"wires":[]},{"id":"d7d1fe0d25a02c73","type":"api-call-service","z":"4a2519b5d3b09a53","name":"Write target_temp to Ecodan","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.ecodan_zone_1","data":"{\"temperature\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":200,"wires":[[]],"info":"solar Write_new_min_soc_for_scheduled_car_charge\n\nvalue = actual SOC"},{"id":"e28a15d01486fe5e","type":"poll-state","z":"4a2519b5d3b09a53","name":"target_temp_scheduled_house","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"20","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"input_number.heating_room_temp_scheduled","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":130,"y":360,"wires":[["bab7dc9ca141a4aa"]]},{"id":"bab7dc9ca141a4aa","type":"api-current-state","z":"4a2519b5d3b09a53","name":"inject target_temp_mode","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.ecodan_target_temp_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"target_temp_factor","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":360,"wires":[["1d69376d8317ba3a"],[]]},{"id":"1d69376d8317ba3a","type":"api-call-service","z":"4a2519b5d3b09a53","name":"Write target_temp to Ecodan","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.ecodan_zone_1","data":"{\"temperature\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":360,"wires":[[]],"info":"solar Write_new_min_soc_for_scheduled_car_charge\n\nvalue = actual SOC"},{"id":"470796d51fac99ce","type":"comment","z":"4a2519b5d3b09a53","name":"Control of the Heat Pump by scheduled Target Temp","info":"Sets the Ecodan Target temp according the demand temp from all the Thermostats in relation to the the room temp. ","x":190,"y":310,"wires":[]},{"id":"6b7cee7854fa2480","type":"switch","z":"f3d754a73bc9c8dc","name":"VMC mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"manual_1","vt":"str"},{"t":"eq","v":"manual_2","vt":"str"},{"t":"eq","v":"scheduled","vt":"str"},{"t":"eq","v":"scheduled & temp controlled","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":290,"y":120,"wires":[["d9eb2616be17b86e","bca4a2040f75ba8f"],["edf4e5821fe4123b"],["edf4e5821fe4123b","1248551a3524a0c6"],["5a5eb812ca0c7f74"],["bca4a2040f75ba8f"]]},{"id":"c4d99582acfb55cb","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"VMC ventilation mode","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.vmc_ventilation_mode","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":120,"wires":[["6b7cee7854fa2480"]]},{"id":"d9eb2616be17b86e","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S1 off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.double_relais_grenier_vmc_1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":80,"wires":[["16e61451fcfb1631","973ee4e7ecb92781"]]},{"id":"edf4e5821fe4123b","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S1 on","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.double_relais_grenier_vmc_1","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":140,"wires":[["723e3c0f84409ccb","b0c875b7f7e9f789"]]},{"id":"723e3c0f84409ccb","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan speed low","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"fan","service":"set_preset_mode","entityId":"fan.vmc_ventilation_fan","data":"{\"preset_mode\":\"low\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":130,"wires":[[]]},{"id":"16e61451fcfb1631","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan speed off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"fan","service":"set_preset_mode","entityId":"fan.vmc_ventilation_fan","data":"{\"preset_mode\":\"off\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":80,"wires":[[]]},{"id":"d8ad83057d1034c6","type":"inject","z":"f3d754a73bc9c8dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":40,"wires":[["d9eb2616be17b86e"]]},{"id":"1248551a3524a0c6","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S2 on","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.double_relais_grenier_vmc_2","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":200,"wires":[["4cc6128ff9ac21af","b0c875b7f7e9f789"]]},{"id":"5a5eb812ca0c7f74","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"VMC scheduler high","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.vmc_ventilation_scheduled_high","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":480,"y":200,"wires":[["1248551a3524a0c6"],[]]},{"id":"f9b07b72a3fa38dd","type":"poll-state","z":"f3d754a73bc9c8dc","name":"Temp deviation  > set = off","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"6","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.vmc_temperature_deviation","state_type":"num","halt_if":"$entities('input_number.vmc_temperature_diff_out_inside_trigger').state","halt_if_type":"jsonata","halt_if_compare":"gt","outputs":2,"x":110,"y":600,"wires":[["7556828012665b4a"],[]]},{"id":"7556828012665b4a","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":600,"wires":[["4baaa806b73dabd9"],[]]},{"id":"e9466ad006c825db","type":"poll-state","z":"f3d754a73bc9c8dc","name":"Temp deviation  < set = on","server":"467d275d.a68208","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"12","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.vmc_temperature_deviation","state_type":"num","halt_if":"$entities('input_number.vmc_temperature_diff_out_inside_trigger').state","halt_if_type":"jsonata","halt_if_compare":"lt","outputs":2,"x":110,"y":660,"wires":[["2759b8701412646d"],[]]},{"id":"2759b8701412646d","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":660,"wires":[["de4a26d307995469"],[]]},{"id":"4baaa806b73dabd9","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"VMC On?","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.double_relais_grenier_vmc_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":580,"y":600,"wires":[["4dd6de5f5aa4bb56"],[]]},{"id":"de4a26d307995469","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"VMC off?","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.double_relais_grenier_vmc_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":580,"y":660,"wires":[["b1d36d0b6be656d5"],[]]},{"id":"2a1e7bea7a486867","type":"delay","z":"f3d754a73bc9c8dc","name":"5 Min Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":790,"y":510,"wires":[["d9eb2616be17b86e"]]},{"id":"b1d36d0b6be656d5","type":"time-range-switch","z":"f3d754a73bc9c8dc","name":"","lat":"43.184415","lon":"1.607415 ","startTime":"06:00","endTime":"22:30","startOffset":"","endOffset":"","x":760,"y":660,"wires":[["edf4e5821fe4123b"],[]]},{"id":"b5a53879a3d67153","type":"debug","z":"f3d754a73bc9c8dc","name":"loop","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":800,"wires":[]},{"id":"bca4a2040f75ba8f","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC S2 off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.double_relais_grenier_vmc_2","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":260,"wires":[["723e3c0f84409ccb"]]},{"id":"a1f2c96fa54be94b","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC Light On > 4 sec ","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_wc_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"4","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":300,"wires":[["a6a6926470664458","4eeb03c61296cd0b"],[]]},{"id":"3f0284159af8d595","type":"comment","z":"f3d754a73bc9c8dc","name":"Trigger VMC on WC light after 4 sec. for 5 min.","info":"","x":170,"y":260,"wires":[]},{"id":"a6a6926470664458","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":300,"wires":[["edf4e5821fe4123b"],[]]},{"id":"42d7774eff79d3ad","type":"comment","z":"f3d754a73bc9c8dc","name":"Control VMC on Temp diff out- inside","info":"","x":150,"y":560,"wires":[]},{"id":"cabf3abcadc87be8","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC Light Off > 5min ","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_wc_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"7","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":360,"wires":[["1f447f93d724b557"],[]]},{"id":"1f447f93d724b557","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":360,"wires":[["6d00ddaa7e52dfc4"],[]]},{"id":"a565f74f77365084","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC VMC On","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_corr_vmc","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":460,"wires":[["ebd2f6a8aec45233"],[]]},{"id":"3824cd1dbb213032","type":"comment","z":"f3d754a73bc9c8dc","name":"Trigger VMC S2 on WC light click bottom","info":"","x":160,"y":420,"wires":[]},{"id":"ebd2f6a8aec45233","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":460,"wires":[["1248551a3524a0c6"],[]]},{"id":"746048285af9a275","type":"server-state-changed","z":"f3d754a73bc9c8dc","name":"WC VMC Off","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_corr_vmc","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":500,"wires":[["65b75bd1bdee04c6"],[]]},{"id":"65b75bd1bdee04c6","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":310,"y":500,"wires":[["bca4a2040f75ba8f"],[]]},{"id":"4dd6de5f5aa4bb56","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check WC light Off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"switch.double_switch_wc_light","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":600,"y":510,"wires":[["2a1e7bea7a486867"],[]]},{"id":"c3803abfb1d466ca","type":"inject","z":"f3d754a73bc9c8dc","name":"incject every hrs.","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":920,"wires":[["903550e24abd1fd6"]]},{"id":"903550e24abd1fd6","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"Thermostat pantry set to 27C","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.thermostat_ventilation","data":"{\"temperature\":27.0}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":920,"wires":[[]]},{"id":"c2fd115ba3f78c2b","type":"comment","z":"f3d754a73bc9c8dc","name":"Trigger Setpoint temp Vent Pantry","info":"","x":140,"y":880,"wires":[]},{"id":"222d56d8d4b06ac2","type":"delay","z":"f3d754a73bc9c8dc","name":"5 Min Delay","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":740,"wires":[["edf4e5821fe4123b"]]},{"id":"159edbb3ba02e636","type":"looptimer","z":"f3d754a73bc9c8dc","duration":"1","units":"Hour","maxloops":"6","maxtimeout":"6","maxtimeoutunits":"Hour","name":"","x":530,"y":780,"wires":[["b5a53879a3d67153","222d56d8d4b06ac2","edf4e5821fe4123b"],[]]},{"id":"7ddb591b94684987","type":"comment","z":"f3d754a73bc9c8dc","name":"Control VMC scheduled at night","info":"","x":130,"y":720,"wires":[]},{"id":"b99d17b7b104ee59","type":"inject","z":"f3d754a73bc9c8dc","name":"from 22:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":760,"wires":[["688d90be3b4f0379"]]},{"id":"688d90be3b4f0379","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Check VMC  mode = contr","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"scheduled, scheduled & temp controlled","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.vmc_ventilation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":290,"y":760,"wires":[["159edbb3ba02e636"],[]]},{"id":"9df9064580360418","type":"inject","z":"f3d754a73bc9c8dc","name":"to 06:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":80,"y":800,"wires":[["159edbb3ba02e636"]]},{"id":"6d00ddaa7e52dfc4","type":"api-current-state","z":"f3d754a73bc9c8dc","name":"Temp deviation  < set = on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"$entities('input_number.vmc_temperature_diff_out_inside_trigger').state","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"sensor.vmc_temperature_deviation","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":590,"y":360,"wires":[["d9eb2616be17b86e"],[]]},{"id":"4eeb03c61296cd0b","type":"debug","z":"f3d754a73bc9c8dc","name":"wc-on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":300,"wires":[]},{"id":"973ee4e7ecb92781","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan turn off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.vmc_ventilation_fan","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":20,"wires":[[]]},{"id":"4cc6128ff9ac21af","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan speed high","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"fan","service":"set_preset_mode","entityId":"fan.vmc_ventilation_fan","data":"{\"preset_mode\":\"high\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":250,"wires":[[]]},{"id":"b0c875b7f7e9f789","type":"api-call-service","z":"f3d754a73bc9c8dc","name":"VMC fan turn on","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.vmc_ventilation_fan","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":190,"wires":[[]]},{"id":"b7165fd9.153038","type":"server-state-changed","z":"9071ff05.669d6","name":"WC Light On > 30min ","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.double_switch_wc_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":80,"wires":[["873b7d5a.e73ec"],[]]},{"id":"873b7d5a.e73ec","type":"api-call-service","z":"9071ff05.669d6","name":"switch_wc_light off","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.double_switch_wc_light","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":80,"wires":[[]]},{"id":"b2ab4474.48e948","type":"comment","z":"9071ff05.669d6","name":"Shut off WC light after 30 min.","info":"","x":120,"y":40,"wires":[]},{"id":"c2df6623.6099b8","type":"server-state-changed","z":"b4ea084f.1fcca","name":"Load Discharge mode","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.load_discharge","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":100,"wires":[["b99c6295.ad649"]]},{"id":"32dc26ba.b27322","type":"api-call-service","z":"b4ea084f.1fcca","name":"Load Disc ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.binary_power_switch_cabinet_s2_load_discharge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":200,"wires":[[]]},{"id":"7edc6192.54c0b8","type":"api-call-service","z":"b4ea084f.1fcca","name":"Load Dis OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_cabinet_s2_load_discharge","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":80,"wires":[[]]},{"id":"ec85885b.037908","type":"api-current-state","z":"b4ea084f.1fcca","name":"Disc State off","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s2_load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":600,"y":120,"wires":[["32dc26ba.b27322"],[]]},{"id":"b99c6295.ad649","type":"switch","z":"b4ea084f.1fcca","name":"Switch mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"manual","vt":"str"},{"t":"eq","v":"victron","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":100,"wires":[["7edc6192.54c0b8"],["ec85885b.037908"],["ec85885b.037908"]]},{"id":"1e449ea2.f5b211","type":"api-current-state","z":"b4ea084f.1fcca","name":"Disc State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s2_load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":610,"y":200,"wires":[["7edc6192.54c0b8"],[]]},{"id":"d78ab1ec.f03c18","type":"server-state-changed","z":"b4ea084f.1fcca","name":"Multi Temperature alarm","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multi_temperature_alarm","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":200,"wires":[["8b1e9d29.67b7d"],["e7ffe317.863068"]]},{"id":"458b20c8.b73738","type":"server-state-changed","z":"b4ea084f.1fcca","name":"Grid power > 7kW","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.multiplus_grid_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"7000","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":260,"wires":[["8b1e9d29.67b7d"],["e7ffe317.863068"]]},{"id":"8b1e9d29.67b7d","type":"api-current-state","z":"b4ea084f.1fcca","name":"Check dis mode = Victron","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"victron","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":200,"wires":[["1e449ea2.f5b211"],[]]},{"id":"e7ffe317.863068","type":"api-current-state","z":"b4ea084f.1fcca","name":"Check dis mode = Victron","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"victron","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.load_discharge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":260,"wires":[["ec85885b.037908"],[]]},{"id":"d5ebc98b.ac78d","type":"comment","z":"b4ea084f.1fcca","name":"Load discharge","info":"","x":80,"y":60,"wires":[]}]