node-red/flow_EV_Charge2.json
[{"id":"708340297608217b","type":"tab","label":"EV Smart Charge","disabled":false,"info":"Smart Scheduled Charging allows to charge your car battery to a certain desired SOC over night in using a power meter like a Shelly EM.\nAs it does not make sense to charge the battery in most cases to 100% it is desirable to charge up to 80%, what allows still to charge the next day with solar. And anyway car batteries stay healthier if you don't charge it to 100%.  "},{"id":"5543b40c3804bb35","type":"inject","z":"708340297608217b","name":"at 6 am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":80,"y":490,"wires":[["3b8e02f2c282fb76","c5a68b2869aebcb3"]]},{"id":"c9b3c73e59e7c518","type":"poll-state","z":"708340297608217b","name":"EV Charger Energy","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.shelly_em_channel_1_energy","state_type":"num","halt_if":"","halt_if_type":"entity","halt_if_compare":"is","outputs":1,"x":90,"y":530,"wires":[[]]},{"id":"c5a68b2869aebcb3","type":"api-call-service","z":"708340297608217b","name":"Store Daily Energy Script","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"ev_charger_store_daily_energy_yesterday","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":490,"wires":[[]]},{"id":"d991cd33f312468a","type":"api-call-service","z":"708340297608217b","name":"Store Daily Energy Today","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"script","service":"1633965939939","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":540,"wires":[[]]},{"id":"3b8e02f2c282fb76","type":"delay","z":"708340297608217b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":280,"y":530,"wires":[["d991cd33f312468a","2331cdd7b85ff473"]]},{"id":"21bf79487695bfdb","type":"comment","z":"708340297608217b","name":"Stop scheduled Charging by SOC estimation and setpoint.","info":"","x":420,"y":280,"wires":[]},{"id":"e0172c38bb3de575","type":"server-state-changed","z":"708340297608217b","name":"EV SOC > setpoint","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ev_battery_new_soc_estim_percent","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"$entities('input_number.ev_battery_soc_setpoint').state","halt_if_type":"jsonata","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":210,"wires":[["d5b038eaea3257a9"],[]]},{"id":"fe3dfa59df19fc6d","type":"api-current-state","z":"708340297608217b","name":"Check EV mode = s&schedule","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"schedule, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"payload\": \"{{ states('sensor.battery_state_of_charge')}}\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":60,"wires":[["8d6ecc294b290f5a"],[]]},{"id":"36b1c2605f39f495","type":"comment","z":"708340297608217b","name":"EV Charging scheduled (at night)","info":"Smart Scheduled Charging allows to charge your car battery to a certain desired SOC over night.\nAs it does not make sense to charge the battery in most cases to 100% it is desirable to charge up to 80%, what allows still to charge the next day with solar. And anyway car batteries stay healthier if you don't charge it to 100%.  ","x":130,"y":20,"wires":[]},{"id":"a886a4b7c29f6cd6","type":"api-call-service","z":"708340297608217b","name":"Write Charge SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":110,"wires":[[]],"info":"solar Write_new_min_soc_for_scheduled_car_charge\n\nvalue = actual SOC"},{"id":"d5b038eaea3257a9","type":"api-current-state","z":"708340297608217b","name":"Check EV mode = s&schedule","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"schedule, solar&schedule","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.ev_charging_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"payload\": $entities('sensor.battery_state_of_charge').state}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":340,"y":180,"wires":[["821e50e05f9c06da","7b5d5c4f6ed984c6"],[]]},{"id":"ee7c06fa72fe2a73","type":"server-state-changed","z":"708340297608217b","name":"Charging sched off","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.ev_charging_scheduled_onoff","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":150,"wires":[["d5b038eaea3257a9"],[]]},{"id":"2b18b70dea4aa86a","type":"api-call-service","z":"708340297608217b","name":"Write min SOC setpoint","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.multiplus_minimal_soc_setpoint","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":230,"wires":[[]]},{"id":"5e5e1e8715df8dde","type":"poll-state","z":"708340297608217b","name":"EV Charger Power","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.shelly_em_channel_1_power","state_type":"num","halt_if":"","halt_if_type":"entity","halt_if_compare":"is","outputs":1,"x":90,"y":380,"wires":[["299a806b848d50db"]]},{"id":"299a806b848d50db","type":"function","z":"708340297608217b","name":"Check and convert to SOC","func":"// payload = actual charging power in kW\n// 3.8 kW = max charge capacity  / 100% = 10kWh \n// 3.6 kW  = estimated 93% SOC reached\n// 3.6 kW / 27.6 = 90 % SOC\nvar newFloat = (msg.payload / 27.7);\nif (newFloat < 60) {\n    FloatVal = 00;}\nelse if (newFloat > 99) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":380,"wires":[["34316fcb3af988fb"]]},{"id":"c3ac90985650bdf4","type":"switch","z":"708340297608217b","name":"limit reached","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":330,"wires":[["93ccb514380b80c2"]]},{"id":"34316fcb3af988fb","type":"api-current-state","z":"708340297608217b","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":590,"y":380,"wires":[["c3ac90985650bdf4"],[]]},{"id":"93ccb514380b80c2","type":"delay","z":"708340297608217b","name":"2 Min Delay","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":640,"y":330,"wires":[[]]},{"id":"821e50e05f9c06da","type":"api-call-service","z":"708340297608217b","name":"EV Plug OFF","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":220,"wires":[[]]},{"id":"e10b319ffc155a37","type":"api-call-service","z":"708340297608217b","name":"EV Plug ON","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.binary_power_switch_cabinet_s1_plug_carport","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":50,"wires":[[]]},{"id":"82a6c7f8229fa659","type":"api-current-state","z":"708340297608217b","name":"Inject SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battery_state_of_charge","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":110,"wires":[["a886a4b7c29f6cd6"]]},{"id":"5310ec3152834ef6","type":"api-current-state","z":"708340297608217b","name":"Inject estim.SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.victron_soc_etimated_value","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":820,"y":170,"wires":[["2b18b70dea4aa86a"]]},{"id":"4bff4ff356695705","type":"comment","z":"708340297608217b","name":"Stop scheduled Charging by declining energy WIP","info":"Experimental feature in the case you can charge with a high current your car ev. decreasing the charge power at 90% SOC.\nThis functionaility does only work with higher power charging > 20kW.","x":190,"y":330,"wires":[]},{"id":"87a76ff682857458","type":"api-call-service","z":"708340297608217b","name":"Ad Energ to estimated SOC","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.ev_battery_estimated_soc","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":660,"wires":[[]]},{"id":"2331cdd7b85ff473","type":"api-current-state","z":"708340297608217b","name":"Inject charged Energ %","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ev_battery_plug_energy_today_percent","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"test","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":590,"wires":[["a35766bebe26aa77"]]},{"id":"c41578556f0a69c2","type":"function","z":"708340297608217b","name":"Ad charged % to SOC","func":"// payload = chraged Energy in %\n// soc = estimated SOC\n\nvar newFloat = (msg.payload + msg.soc);\nif (newFloat < 0) {\n    FloatVal = 50;}\nelse if (newFloat > 100) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":660,"wires":[["87a76ff682857458"]]},{"id":"a35766bebe26aa77","type":"api-current-state","z":"708340297608217b","name":"Inject estimated SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_battery_estimated_soc","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":590,"wires":[["c41578556f0a69c2"]]},{"id":"f679c8ee4bc0e28e","type":"inject","z":"708340297608217b","name":"at 6 pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":70,"y":740,"wires":[["822280a958b0bcf5"]]},{"id":"84d97e78a8c3e1a7","type":"api-call-service","z":"708340297608217b","name":"Write to estimated SOC","server":"467d275d.a68208","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.ev_battery_estimated_soc","data":"{\"value\":{{payload}}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":810,"wires":[[]]},{"id":"822280a958b0bcf5","type":"api-current-state","z":"708340297608217b","name":"Inject average bat use %","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_charging_daily_average_use","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"test","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":740,"wires":[["8f4725fc13a4d6f3"]]},{"id":"72afbc2c45829e97","type":"function","z":"708340297608217b","name":"Subtract daily use to SOC","func":"// payload = chraged Energy in %\n// soc = estimated SOC\n\nvar newFloat = (msg.soc - msg.payload);\nif (newFloat < 0) {\n    FloatVal = 50;}\nelse if (newFloat > 100) {\n    FloatVal = 100;}\nelse {\n    FloatVal = newFloat;}\n    \nvar newInt = parseInt( FloatVal );\n\nmsg.payload = newInt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":810,"wires":[["84d97e78a8c3e1a7"]]},{"id":"8f4725fc13a4d6f3","type":"api-current-state","z":"708340297608217b","name":"Inject estimated SOC","server":"467d275d.a68208","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.ev_battery_estimated_soc","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"soc","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":740,"wires":[["72afbc2c45829e97"]]},{"id":"5d12dfc4aceae2df","type":"comment","z":"708340297608217b","name":"Calculate Bat SOC estimation at daily time ","info":"","x":160,"y":450,"wires":[]},{"id":"fd3c7b14c24d823f","type":"comment","z":"708340297608217b","name":"Calculate Bat SOC by adding estimated daily bat use","info":"","x":190,"y":700,"wires":[]},{"id":"7b5d5c4f6ed984c6","type":"api-current-state","z":"708340297608217b","name":"Check != NightCharge","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"weather+night charge","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.victron_soc_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"flow","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":610,"y":170,"wires":[["5310ec3152834ef6"],[]]},{"id":"7b7e9dde5bb3ac0d","type":"api-current-state","z":"708340297608217b","name":"Bat current <  10A","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.battery_current","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":770,"y":60,"wires":[["82a6c7f8229fa659","e10b319ffc155a37"],[]]},{"id":"6b74c34e47b55468","type":"api-current-state","z":"708340297608217b","name":"Plug State on","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.binary_power_switch_cabinet_s1_plug_carport","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":330,"y":230,"wires":[["821e50e05f9c06da"],[]]},{"id":"556ca466868818fc","type":"server-state-changed","z":"708340297608217b","name":"Battery Current > 60A","server":"467d275d.a68208","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battery_current","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"60","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":260,"wires":[["6b74c34e47b55468"],[]]},{"id":"8d6ecc294b290f5a","type":"api-current-state","z":"708340297608217b","name":"EV SOC < setpoint","server":"467d275d.a68208","version":2,"outputs":2,"halt_if":"$entities('input_number.ev_battery_soc_setpoint').state","halt_if_type":"jsonata","halt_if_compare":"lt","entity_id":"sensor.ev_battery_new_soc_estim_percent","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":570,"y":60,"wires":[["7b7e9dde5bb3ac0d"],[]]},{"id":"8dec788824f9a846","type":"poll-state","z":"708340297608217b","name":"Charging sched on","server":"467d275d.a68208","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"3","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"input_boolean.ev_charging_scheduled_onoff","state_type":"habool","halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"x":90,"y":60,"wires":[["fe3dfa59df19fc6d"],[]]},{"id":"467d275d.a68208","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"info":"y|yes|true|on|home|open"}]